
<template>
    <style>

    </style>

        <fieldset class="fds-busca alunos">
            <legend>Filtro</legend>
            <div class="inline">
                <label for="edtBusca">Nome:</label>
                <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca')">
                <button id="btnBusca" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
                <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>            
            </div>

            <table id="tblClube"></table>
        </fieldset>
    
</template>
<script>
  
    const pageData = main_data.adm_clube.data
    const pageFunc = main_data.adm_clube.func
    const pageScreen = document.querySelector('#card-adm_clube')

    pageFunc.fillClube = ()=>{      
        const tbl = pageScreen.querySelector('#tblClube')
        tbl.innerHTML = ''
        const params = new Object;
            params.field = 'nome'
            params.signal = 'LIKE'
            params.value = `'%${pageScreen.querySelector('#edtBusca').value.trim()}%'`
        const myPromisse = queryDB(params,'ADM-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            if(localStorage.getItem('access')=='0'){
                tbl.head('Nome,UF,Cidade,Prof.')
            }else{
                tbl.head('Nome,UF,Cidade')
            }
            for(let i=0; i<json.length;i++){
                if(localStorage.getItem('access')=='0'){
                    tbl.plot(json[i],'nome,uf,cidade,prof','Upp,Upp,Upp,Upp')
                }else{
                    tbl.plot(json[i],'nome,uf,cidade','Upp,Upp,Upp')
                }
            }         
        });
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.fillClube()
    })

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('adm_view_clube.html','pop-up','Novo Clube')
    })

    pageScreen.querySelector('#tblClube').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data != undefined ? openHTML('adm_view_clube.html','pop-up',`Edição de dados - ${data.nome.toUpperCase()}`,data) : null
    })

    pageFunc.fillClube()

</script>