<template>
    <style>



        @media all and (max-width : 768px) {

        }

    </style>
  
    <fieldset>
        <legend id="lgn"></legend>


        <fieldset>
            <legend>Tipo de Aula</legend>
            <select id="cmbTipos"></select>
        </fieldset>

        <fieldset>
            <legend>Alunos</legend>
            <div class="edtbtn">
                <select id="cmbAluno" size="4"></select>
                <button id="btnBuscaAluno" class="only-view btn-round"><span class="mdi mdi-magnify"></span></button>
            </div>
            
        </fieldset>

        <div class="line">
            <button id="btnSave">Salvar</button>
            <button id="btnClear">Limpar</button>
            <button id="btnCancel">Cancelar</button>
        </div>


    </fieldset>


</template>
<script>

    const pageData = main_data.agd_view_grade.data
    const pageFunc = main_data.agd_view_grade.func
    const pageScreen = document.querySelector('#card-agd_view_grade')
    const week = ['Dom','Seg','Ter','Qua','Qui','Sex','Sab']

    function setAula(obj,del=0){
        const params = new Object;
            params.id_aluno = obj.id_aluno
            params.id_aula = pageScreen.querySelector('#cmbTipos').value
            params.dia = pageData.day
            params.hora = pageData.time
            params.del = del
        const myPromisse = queryDB(params,'AGD-1');
        return myPromisse.then((resolve)=>{
            setLog(`Aula ${del ? 'Deletada' : 'Cadastrada'} ${obj.nome} dia ${week[pageData.day]} as ${pageData.time.toString().padStart(2,0)}:00`)
            main_data.agd_grade.func.make_grid()
//            closeModal('agd_view_grade')
        })
    }

    pageFunc.pageStart = ()=>{
        pageScreen.querySelector('#lgn').innerHTML = `${week[pageData.day]} as ${pageData.time.toString().padStart(2,0)}:00`
        pageFunc.fillValor().then((response)=>{
            const alunos = pageScreen.querySelector('#cmbAluno')
            alunos.innerHTML = ''
            for(let i=0; i<pageData.aulas.length; i++){
                pageScreen.querySelector('#cmbTipos').value = pageData.aulas[i].id_aula
                const opt = document.createElement('option')
                opt.value = pageData.aulas[i].id_aluno
                opt.innerHTML = pageData.aulas[i].nome
                opt.data = pageData.aulas[i]
                alunos.appendChild(opt)
            }
        })
    }

    pageFunc.fillValor = ()=>{

        const cmb = pageScreen.querySelector('#cmbTipos')
        cmb.innerHTML = ''

        const myPromisse = queryDB({},'ADM-4');
        return myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            for(let i=0; i<json.length;i++){               
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].descricao+' - '+json[i].clube
                opt.selected = pageData.access == json[i].id
                opt.data = json[i]
                cmb.appendChild(opt)
            }
        });
    }

    pageFunc.buscaAluno = (data)=>{
        const opt = document.createElement('option')
            opt.value = data.id
            opt.innerHTML = data.nome
            opt.data = data
            pageScreen.querySelector('#cmbAluno').appendChild(opt)
            data.id_aluno = data.id
            setAula(data)
    }

    pageScreen.querySelector('#btnBuscaAluno').addEventListener('click',()=>{
        closeModal('adm_aluno')
        openHTML('adm_aluno.html','pop-up','Selecione o Aluno',{'org':'agd_view_grade'})
    })

    pageScreen.querySelector('#cmbAluno').addEventListener('dblclick',(e)=>{
        if(confirm(`Remover ${e.target.data.nome} desta aula?`)){
            const obj = new Object(e.target.data)
            setAula(obj,1)
            e.target.remove()

        }
    })

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        const alunos = pageScreen.querySelector('#cmbAluno').options
        for(let i=0; i<alunos.length; i++){
            setAula(alunos[i].data)
            .then((response)=>{
                closeModal('agd_view_grade')
            })
        }
    })

    pageScreen.querySelector('#btnClear').addEventListener('click',()=>{
        if(confirm('Deseja remover todas as aulas neste horário?')){
            const alunos = pageScreen.querySelector('#cmbAluno').options
            for(let i=0; i<alunos.length; i++){
                setAula(alunos[i].data,1)
                .then((response)=>{
                    closeModal('agd_view_grade')
                })
            }
        }
    })

    pageScreen.querySelector('#btnCancel').addEventListener('click',()=>{
        closeModal('agd_view_grade')
    })

    pageFunc.pageStart()

</script>