<template>
    <style>

    </style>

    <fieldset>
        <legend>Revisões</legend>        
        <div class="inline">
            <label for="edtRev">Revisão</label>
            <input type="text" class="only-view" id="edtRev" onfocus="this.select();" inputmode="decimal" onkeyup="valFloat(this,0)" value="0" readonly>
        </div>
        <div class="inline">
            <label for="edtHist">Histórico</label>
            <input type="text" id="edtHist" onfocus="this.select();" maxlength="50" value="Emissão Inicial">
        </div>
        <div class="inline">
            <label for="edtElab">Elaboração</label>
            <input type="text" id="edtElab" onfocus="this.select();" maxlength="30">
        </div>
        <div class="inline">
            <label for="edtAprov">Aprovação</label>
            <input type="text" id="edtAprov" onfocus="this.select();" maxlength="30">
        </div>

        <table id="tblRev"></table>
        <div class="line">
            <button id="btnRev">Adicionar Revisão</button>
        </div>

    </fieldset>

    <fieldset>
        <legend>Setores</legend>
        <div class="inline">
            <label for="estSetor">Nome</label>
            <input type="text" id="edtSetor" onfocus="this.select();" maxlength="20">
            <button id="btnSetor" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>
        </div>
        <select id="cmbSetor" size="5"></select>


    </fieldset>

    <div class="line">
        <button id="btnRelat">Relatório</button>
    </div>


</template>
<script>

    const pageData = main_data.cert_relatorio.data
    const pageFunc = main_data.cert_relatorio.func
    const pageScreen = document.querySelector('#card-cert_relatorio')

    function pageStart(){
        pageFunc.fillSetor()
        pageFunc.getRev()
//        pageFunc.fillAnswers()
}

    pageFunc.setSetor = (set=0)=>{
        const params = new Object
            params.id_taskcli= pageData.task.id
            params.setor = set ? set : pageScreen.querySelector('#edtSetor').value.trim()
            params.del = set ? 1 : 0
        if(params.setor.length){
            const myPromisse = queryDB(params,'TASK-13');
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)
                pageFunc.fillSetor()
                pageScreen.querySelector('#edtSetor').value = ''
            })
        }
    }

    pageFunc.fillSetor = ()=>{
        const params = new Object
            params.id_taskcli= pageData.task.id
            const myPromisse = queryDB(params,'TASK-12');
            myPromisse.then((resolve)=>{
                pageData.setores = JSON.parse(resolve)
                const cmb = pageScreen.querySelector('#cmbSetor')
                cmb.innerHTML = ''   
                for(let i=0; i<pageData.setores.length;i++){
                    const opt = document.createElement('option')
                    opt.value = pageData.setores[i].setor
                    opt.innerHTML = pageData.setores[i].setor
                    opt.data = pageData.setores[i]
                    cmb.appendChild(opt)
                }
                if(pageData.setores.length){
                    cmb.selectedIndex = 0
                }
            })
    }

    pageFunc.fillAnswers = ()=>{
        const params = new Object
            params.id_tarefa = pageData.task.id
        const myPromisse = queryDB(params,'TASK-9');
        myPromisse.then((resolve)=>{
            pageData.perguntas = JSON.parse(resolve)
        })
    }

    pageFunc.setRev = (del=0)=>{
        const params = new Object
            params.id_taskcli= pageData.task.id
            params.revisao = pageScreen.querySelector('#edtRev').value
            params.historico = del ? '' : pageScreen.querySelector('#edtHist').value.trim()
            params.elaboracao = pageScreen.querySelector('#edtElab').value.trim()
            params.aprovacao = pageScreen.querySelector('#edtAprov').value.trim()

        const myPromisse = queryDB(params,'TASK-11');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            pageFunc.fillRev(json)
//                pageFunc.fillSetor()
//                pageScreen.querySelector('#edtSetor').value = ''
        })
    }

    pageFunc.getRev = ()=>{
        const params = new Object
            params.id_tarefa = pageData.task.id
        const myPromisse = queryDB(params,'TASK-10');
        myPromisse.then((resolve)=>{
            pageData.rev = JSON.parse(resolve)
            pageFunc.fillRev(pageData.rev)
        })
    }

    pageFunc.fillRev = (json)=>{
        const tbl = pageScreen.querySelector('#tblRev')
        tbl.head('Revisão,Histórico,Data')
        for(let i=0; i<json.length; i++){
            tbl.plot(json[i],'revisao,historico,data_hora','int,Upp,dat')
            pageScreen.querySelector('#edtRev').value = Number(json[i].revisao)
            pageScreen.querySelector('#edtHist').value = json[i].historico
            pageScreen.querySelector('#edtElab').value = json[i].elab
            pageScreen.querySelector('#edtAprov').value = json[i].aprov
        }
    }

    pageScreen.querySelector('#btnSetor').addEventListener('click',()=>{
        pageFunc.setSetor()
    })

    pageScreen.querySelector('#cmbSetor').addEventListener('dblclick',()=>{
        const setor = pageScreen.querySelector('#cmbSetor').value
        if(confirm(`Deseja realmente deletar o setor ${setor}`)){
            pageFunc.setSetor(setor)
        }
    })

    pageScreen.querySelector('#btnRev').addEventListener('click',()=>{
        pageFunc.setRev()
    })

    pageScreen.querySelector('#btnRelat').addEventListener('click',()=>{
        console.log(pageData)
    })

/*
    const div_print = new_element('div','','div-print')
        screen.appendChild(div_print)
        const print = new_element('button','<span class="mdi mdi-printer-outline"></span> Relatório')
        div_print.appendChild(print)
        print.addEventListener('click',()=>{
            const params = new Object
                params.id_tarefa = data.id_tarefa
            const myPromisse = queryDB(params,'TASK-9');
            myPromisse.then((resolve)=>{
                data.perguntas = JSON.parse(resolve)
                print_relatorio(data)
            })
        })
*/

    pageStart()

</script>