<template>
    <style>
        .capa{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 0;
            font-weight: bold;
            height: 80vh;
        }

        .capa label{
            text-align: center;
            font-size: 1.5em;
        }

        .sobre{
            text-align: center;
            height: 100%;
            background-color: unset;
            border: none;
            font-size: 1.1em;
        }

        .quest{
            display: flex;
            flex-direction: column;
            padding: 0 20px;
        }

        .quest textarea{
            margin-left: 0;
            width: 100%;
            height: 200px;
        }

    </style>

    <div class="tab-bar">
        <div class="tab-item" id="tab-sobre" onclick="pictab(this)">Sobre</div>
        <div class="tab-item" id="tab-post" onclick="pictab(this)">Post</div>
    </div>
    <div class="tab-screen">
        <div id="sobre" class="tab capa">
            <label id="sobre_nome"></label>
            <textarea id="sobre_texto" class="sobre" disabled></textarea>
        </div>
  
                    
        <div id="post" class="tab post">
            <div class="post-head">
                <div class="post-head-left">
                    <img class="post-head-img" src="assets/users/1/perfil.jpg" alt="">
                    <div class="post-head-name">Tales C. Dantas</div>
                </div>
                <div class="post-head-rigth">
<!--                    
                    <div class="post-btn">Subscribe</div>
                    <div class="btnMore">...</div>
-->                    
                </div>
            </div>
            <div class="post-text">
                Lorem ipsum dolor sit amet. Id voluptas harum et ullam corrupti et doloremque rerum vel ipsa natus vel adipisci nisi. Et incidunt molestiae et ducimus incidunt in nostrum reiciendis ut veniam quia ea impedit perferendis in facere voluptatem 33 alias eaque. 
            </div>
            <div class="post-time">
                00:00 PM Oct-10,2024
            </div>
            <div class="post-social">
                <div class="post-social-chat">
                    <span class="mdi mdi-chat-outline"></span>
                    <p>50</p>
                </div>
                <div class="post-social-like">
                    <span class="mdi mdi-thumb-up-outline"></span>
                    <p>15</p>
                </div>
            </div>
        </div>

    
    </div>

</template>
<script>

    const pageData = main_data.cert_cliente.data
    const pageFunc = main_data.cert_cliente.func
    const pageScreen = document.querySelector('#card-cert_cliente')

    function pageStart(){
        pageScreen.classList.add('fullscreen')
        pageScreen.querySelector('#sobre_nome').innerHTML = pageData.prod.nome
        pageScreen.querySelector('#sobre_texto').innerHTML = pageData.prod.sobre
        pageScreen.querySelector('#tab-sobre').click()
        pageFunc.fillTasks(pageData.prod.id_prod)

    }

    function showUsers(div,arr){
        div.innerHTML = ''
        for(let i=0; i<arr.length; i++){
            console.log(arr[i])

            const img = new_element('img','','post-head-img')

            backFunc({'filename':`../assets/users/${arr[i]}/perfil.jpg`},1)
            .then((resp)=>{
                const imgExist = JSON.parse(resp)    
                img.src = imgExist ? `assets/users/${arr[i]}/perfil.jpg` : `assets/icons/user_default.png}`
            })  

            div.appendChild(img)


        }



    }

    pageFunc.fillTasks = (id_prod)=>{
        const tab_bar = pageScreen.querySelector('.tab-bar')
        const tab_screen = pageScreen.querySelector('.tab-screen')

        function addTab(data){

            function addQuest(quest){
                quest = quest.split('|')

                const obj = new Object
                obj.id = quest[0]
                obj.id_usuario = 0
                obj.nome_usuario = 'Grupo DelMonaco'
                obj.resposta = quest[1]
                obj.data_hora = '2025-05-22 19:35:00'

                return makePost(obj)
            }


            const tab = document.createElement('div')
            tab_bar.appendChild(tab)
            tab.className = 'tab-item'
            tab.id = `tab-p${data.id}`
            tab.innerHTML = data.nome
            tab.addEventListener('click',()=>{
                pictab(tab)
            })

            const screen = document.createElement('div')
            tab_screen.appendChild(screen)
            screen.className = 'tab'
            screen.id = 'p'+data.id

            const about = document.createElement('textarea')
            screen.appendChild(about)
            about.disabled = 1
            about.className = 'sobre'
            about.innerHTML = data.descricao

            if(data.quest != null){
                const quests = data.quest.split('||')
                for(let j=0; j<quests.length;j++){                
                    screen.appendChild(addQuest(quests[j]))
                }
            }


        }

        const params = new Object
            params.field = 'id_produto'
            params.signal = '='
            params.value = id_prod
   
        const myPromisse = queryDB(params,'TASK-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            for(let i=0; i<json.length; i++){        
                addTab(json[i])
            }
        })
    }


    function new_element(tipo,innerHTML='',cls=0,id=0){
        const el = document.createElement(tipo)
        el.innerHTML = innerHTML
        if(cls){
            el.className = cls
        }
        if(id){
            el.id = id
        }
        return el
    }

    pageFunc.fillComm = (obj, post)=>{

        const postComm = post.querySelector('.post-comm')
        const postChat = post.querySelector('.post-social-chat')

        const params = new Object
                params.id_pergunta = obj.id
                params.id_cliente = pageData.id_cliente

            const myPromisse = queryDB(params,'TASK-4');
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)
                postChat.querySelector('#count').innerHTML = json.length

                for(let i=0; i<json.length; i++){
                    postComm.appendChild(makePost(json[i]))
                }
                postComm.appendChild(newComm(obj, post))
            })
               
    }

    function newComm(obj, post){

        const postComm = post.querySelector('.post-comm')
        const postChat = post.querySelector('.post-social-chat')

        const comm = document.createElement('div')
        comm.className = 'comments post'

        const ta = document.createElement('textarea')
        ta.className = 'post-new-comm'
        comm.appendChild(ta)

        const btn = document.createElement('button')
        btn.innerHTML = 'Postar'
        comm.appendChild(btn)

        btn.addEventListener('click',()=>{
            const params = new Object;
                params.id_pergunta = obj.id
                params.id_cliente = pageData.id_cliente
                params.resposta = ta.value
                params.data_hora =  obj.data_hora 
                
            const myPromisse = queryDB(params,'TASK-5')
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)
                ta.value = ''
                ta.focus()
                postComm.innerHTML = ''
                for(let i=0; i<json.length; i++){
                    postComm.appendChild(makePost(json[i]))         
                }
                postComm.appendChild(newComm(obj, postComm,postChat))
                postChat.querySelector('#count').innerHTML = json.length

            })    
        })
            
        ta.focus()
        return comm
    }

    function makePost(obj){

        const quest = obj.hasOwnProperty('id')

        const post = new_element('div','','post',`post-${quest ? obj.id : obj.id_pergunta}`)
        const head = new_element('div','','post-head')
        const head_left = new_element('div','','post-head-left')
        const img = new_element('img','','post-head-img')

        backFunc({'filename':`../assets/users/${obj.id_usuario}/perfil.jpg`},1)
        .then((resp)=>{
            const imgExist = JSON.parse(resp)    
            img.src = imgExist ? `assets/users/${obj.id_usuario}/perfil.jpg` : `assets/icons/${quest ? 'icon.png' : 'user_default.png'}`
        })  

        head_left.appendChild(img)

        const head_name = new_element('div',obj.nome_usuario,'post-head-name')
        head_left.appendChild(head_name)
        head.appendChild(head_left)

        const head_rigth = new_element('div','','post-head-left')

        head.appendChild(head_rigth)
        post.appendChild(head)

        const post_text = new_element('div',obj.resposta, 'post-text')
        post.appendChild(post_text)

        const post_time = new_element('div','', 'post-time')
        post_time.innerHTML =  obj.data_hora.viewXDate()
        post.appendChild(post_time)
        
        const post_social = new_element('div','', 'post-social')
        post.appendChild(post_social)

        const post_chat = new_element('div',`<span class="mdi ${quest ? 'mdi-chat-outline' : 'mdi-thumb-up-outline'}"></span><p id ="count"></p>`, 'post-social-chat')
        post_chat.addEventListener('click',()=>{
            if(quest){
                const status = post.querySelector('.post-comm')
                status.style.display = status.style.display == 'block' ? 'none' : 'block'
            }else{
                const params = new Object;
                    params.id_pergunta = obj.id_pergunta
                    params.data_hora =  obj.data_hora 

                const myPromisse = queryDB(params,'TASK-6')
                myPromisse.then((resolve)=>{
                    const json = JSON.parse(resolve)
                    console.log(json)

                })           
            }
        })
        post_social.appendChild(post_chat)

        const post_comm = new_element('div','', 'post-comm')
        post_comm.style.display = 'none'
        
        post.appendChild(post_comm)

        if(quest){
            pageFunc.fillComm(obj,post)
        }else{
//            console.log(obj)
            const id_likes = obj.LIKES == null ? [] : obj.LIKES.split('|')
//            console.log(id_likes)
            const count = post_chat.querySelector('#count')
//            count.innerHTML = id_likes.length
//            console.log(count)
            showUsers(post_chat.querySelector('#count'),id_likes)

        }

        return post
    }



    

    pageStart()
</script>