<template>
    <style>

    </style>

    <fieldset>
        <legend>Revisões</legend>        
        <div class="inline">
            <label for="edtRev">Revisão</label>
            <input type="text" class="only-view" id="edtRev" onfocus="this.select();" inputmode="decimal" onkeyup="valFloat(this,0)" value="0">
        </div>
        <div class="inline">
            <label for="edtHist">Histórico</label>
            <input type="text" id="edtHist" onfocus="this.select();" maxlength="50" value="Emissão Inicial">
        </div>
        <div class="inline">
            <label for="edtElab">Elaboração</label>
            <input type="text" id="edtElab" onfocus="this.select();" maxlength="30">
        </div>
        <div class="inline">
            <label for="edtAprov">Aprovação</label>
            <input type="text" id="edtAprov" onfocus="this.select();" maxlength="30">
        </div>
        <div class="inline">
            <label for="edtData">Data</label>
            <input type="date" id="edtData" onfocus="this.select();">
        </div>
        <table id="tblRev"></table>
        <div class="line">
            <button id="btnRev">Salvar Revisão</button>
        </div>

    </fieldset>

    <fieldset>
        <legend>Setores</legend>
        <div class="inline">
            <label for="estSetor">Nome</label>
            <input type="text" id="edtSetor" onfocus="this.select();" maxlength="20">
            <button id="btnSetor" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>
        </div>
        <select id="cmbSetor" size="5"></select>


    </fieldset>

    <fieldset>
        <legend>Relatorios</legend>
        <select id="cmbRelat" size="5"></select>
        <div class="line">
            <button id="btnRelat">Gerar Relatório</button>
        </div>
    </fieldset>




</template>
<script>

    const pageData = main_data.cert_relatorio.data
    const pageFunc = main_data.cert_relatorio.func
    const pageScreen = document.querySelector('#card-cert_relatorio')

    function pageStart(){
        pageFunc.fillSetor()
        pageFunc.getRev()
        pageFunc.fillAnswers()
        pageFunc.fillRelat()
        pageScreen.querySelector('#edtData').value = today.getFormatDate()
    }

    function fieldRev(json){
        pageScreen.querySelector('#edtRev').value = Number(json.revisao)
        pageScreen.querySelector('#edtHist').value = json.historico
        pageScreen.querySelector('#edtElab').value = json.elab
        pageScreen.querySelector('#edtAprov').value = json.aprov
        pageScreen.querySelector('#edtData').value = json.data_hora.substr(0,10)
    }

    pageFunc.fillRelat = ()=>{
        listFiles(`../files/relatorios/${pageData.task.id}/`).then((resolve)=>{
            const json = JSON.parse(resolve)
            console.log(json)
            const cmb = pageScreen.querySelector('#cmbRelat')
            cmb.innerHTML = ''
            for(let i=2; i<json.length; i++){
                const opt = document.createElement('option')
                opt.value = json[i]
                opt.innerHTML = json[i]
                opt.data =json[i]
                cmb.appendChild(opt)
            }
        })
    }

    pageFunc.setSetor = (set=0)=>{
        const params = new Object
            params.id_taskcli= pageData.task.id
            params.setor = set ? set : pageScreen.querySelector('#edtSetor').value.trim()
            params.del = set ? 1 : 0
        if(params.setor.length){
            const myPromisse = queryDB(params,'TASK-13');
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)
                pageFunc.fillSetor()
                pageScreen.querySelector('#edtSetor').value = ''
            })
        }
    }

    pageFunc.fillSetor = ()=>{
        const params = new Object
            params.id_taskcli= pageData.task.id
            const myPromisse = queryDB(params,'TASK-12');
            myPromisse.then((resolve)=>{
                pageData.setores = JSON.parse(resolve)
                const cmb = pageScreen.querySelector('#cmbSetor')
                cmb.innerHTML = ''   
                for(let i=0; i<pageData.setores.length;i++){
                    const opt = document.createElement('option')
                    opt.value = pageData.setores[i].setor
                    opt.innerHTML = pageData.setores[i].setor
                    opt.data = pageData.setores[i]
                    cmb.appendChild(opt)
                }
                if(pageData.setores.length){
                    cmb.selectedIndex = 0
                }
            })
    }

    pageFunc.fillAnswers = ()=>{
        const params = new Object
            params.id_task_cli = pageData.task.id
        const myPromisse = queryDB(params,'TASK-9');
        myPromisse.then((resolve)=>{
            pageData.perguntas = JSON.parse(resolve)
        })
    }

    pageFunc.setRev = (del=0)=>{
        const params = new Object
            params.id_taskcli= pageData.task.id
            params.revisao = pageScreen.querySelector('#edtRev').value
            params.historico = del ? '' : pageScreen.querySelector('#edtHist').value.trim()
            params.elaboracao = pageScreen.querySelector('#edtElab').value.trim()
            params.aprovacao = pageScreen.querySelector('#edtAprov').value.trim()
            params.data = pageScreen.querySelector('#edtData').value + ' 00:00:00'

        const myPromisse = queryDB(params,'TASK-11');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            pageFunc.fillRev(json)
        })
    }

    pageFunc.getRev = ()=>{
        const params = new Object
            params.id_tarefa = pageData.task.id
        const myPromisse = queryDB(params,'TASK-10');
        myPromisse.then((resolve)=>{
            pageFunc.fillRev(JSON.parse(resolve))
        })
    }

    pageFunc.fillRev = (json)=>{
        pageData.rev = json
        const tbl = pageScreen.querySelector('#tblRev')
        tbl.head('Revisão,Histórico,Data')
        for(let i=0; i<json.length; i++){         
            tbl.plot(json[i],'revisao,historico,data_hora','int,Upp,dat')
            fieldRev(json[i])
        }
    }

    pageScreen.querySelector('#btnSetor').addEventListener('click',()=>{
        pageFunc.setSetor()
    })

    pageScreen.querySelector('#cmbSetor').addEventListener('dblclick',()=>{
        const setor = pageScreen.querySelector('#cmbSetor').value
        if(confirm(`Deseja realmente deletar o setor ${setor}`)){
            pageFunc.setSetor(setor)
        }
    })

    pageScreen.querySelector('#btnRev').addEventListener('click',()=>{
        pageFunc.setRev()
    })

    pageScreen.querySelector('#btnRelat').addEventListener('click',()=>{
//        try{
            print_relatorio(pageData)
//        }catch{
//            alert('Houve algum erro na geração do relatório, por favor saia e tente novamente.')
//            loading()
//        }
    })

    pageScreen.querySelector('#tblRev').addEventListener('dblclick',(e)=>{
        if(confirm('Deseja deletar esta revisão?')){
            const data = e.target.parentNode.data
            pageScreen.querySelector('#edtRev').value = data.revisao
            pageFunc.setRev(1)
        }
    })

    pageScreen.querySelector('#tblRev').addEventListener('click',(e)=>{
            const data = e.target.parentNode.data
            fieldRev(data)
    })

    pageScreen.querySelector('#cmbRelat').addEventListener('click',()=>{
        const filename =  pageScreen.querySelector('#cmbRelat').value
        window.open(window.location.href+`../files/relatorios/${pageData.task.id}/`+filename, '_blank').focus();
    })

    function print_relatorio(obj){

        loading(1)
        let img = 'assets/icons/icon.png'

        doc = new jsPDF({
            orientation: 'portrait',
            format: 'a4'
        }) 

        const rev = obj.rev[obj.rev.length-1]

        function newPage(Y=55){
            doc.addPage();
            head()   
            txt.y = Y 
        }

        function addLine(N=1, botton=0){
            txt.y += txt.lineHeigth * N
            if(txt.y >= doc.internal.pageSize.getHeight() - botton){
                botton ? newPage() : null
                return false
            }
            return true
        }


        function head(){

            plotImg(img,10,10,20,20)

            doc.rect(5,5,doc.internal.pageSize.getWidth()-10,30)
            doc.rect(35,5,130,30)
            doc.setFontSize(20);
            txt.y = 22
            doc.setFont(undefined, 'bold')
            center_text(obj.task.nome,[55,150])
            doc.setFontSize(10);
            try{
                doc.text('Código: '+obj.task.cod,168,15)
                doc.text('Data: '+rev.data_hora.viewDate(),168,20)
                doc.text('Revisão: '+rev.revisao.padStart(2,0),168,25)
            }catch{
                doc.text('Código: ',168,15)
                doc.text('Data: ',168,20)
                doc.text('Revisão: ',168,25)    
            }
        }

        function setores(){
            doc.rect(5,40,doc.internal.pageSize.getWidth()-10,80)
            doc.line(60,40,60,120)
            doc.line(110,40,110,120)

            doc.setFont(undefined, 'bold')
            doc.setFontSize(12)
            doc.line(5,46,doc.internal.pageSize.getWidth()-5,46)
            doc.text('Elaboração',20,44.5)
            doc.text('Setores Aplicáveis',67,44.5)
            doc.text('Sumário',146,44.5)

            doc.line(5,70,60,70)
            doc.line(5,76,60,76)
            doc.text('Aprovação',20,74)

            doc.setFont(undefined, 'normal')

            try{
                box(rev.elab,10,55,50)
                box(rev.aprov,10,85,50)
            }catch{
                null
            }


            txt.y = 53
            for(let i=0; i<obj.setores.length; i++){
                doc.text('\u2022 '+obj.setores[i].setor,62,txt.y)
                addLine(1.5)
            }

            txt.y = 53
            for(let i=0; i<obj.perguntas.length; i++){
                doc.text((i+1)+' - '+obj.perguntas[i].titulo,115,txt.y)
                addLine(1.5)
            }
        }

        function revisoes(){
            doc.setFont(undefined, 'bold')
            doc.setFontSize(12);

            doc.rect(5,130,doc.internal.pageSize.getWidth()-10,6)
            doc.line(30,130,30,136)
            doc.line(60,130,60,136)
            doc.text('Revisão',10,134.5)
            doc.text('Data',40,134.5)
            doc.text('Histórico',120,134.5)

            doc.setFont(undefined, 'normal')
            for(let i=0; i<obj.rev.length; i++){
                doc.text(obj.rev[i].revisao.padStart(2,0),15,(140.5+6*i))
                doc.text(obj.rev[i].data_hora.viewDate(),34,(140.5+6*i))
                doc.text(obj.rev[i].historico.padStart(2,0),62,(140.5+6*i))

                doc.line(5,(142+6*i),doc.internal.pageSize.getWidth()-5,(142+6*i))
                doc.line(5,(136+6*i),5,(142+6*i))
                doc.line(30,(136+6*i),30,(142+6*i))
                doc.line(60,(136+6*i),60,(142+6*i))
                doc.line(doc.internal.pageSize.getWidth()-5,(136+6*i),doc.internal.pageSize.getWidth()-5,(142+6*i))
            }
        }

        function questoes(){
            newPage()
            for(let i=0; i<obj.perguntas.length; i++){
                doc.setFont(undefined, 'bold')
                doc.setFontSize(12)
                doc.text((i+1).toString().padStart(2,0)+'   '+obj.perguntas[i].titulo,15,txt.y)
                addLine(1,10,head)
                try{

                    var ctx = document.createElement('canvas')
                    if (ctx.getContext) {
                        ctx = ctx.getContext('2d');
                        ctx.clearRect(0, 0, 0, 0);
                        var img = new Image();
                        img.onload = function () {
                            ar = aspect_ratio(img,ctx.width,ctx.height)   
                            console.log(ar)             
                            ctx.canvas.width = ar[2]
                            ctx.canvas.height = ar[3]
                            ctx.globalCompositeOperation = efect
                            ctx.drawImage(img, 0, 0,img.width,img.height,0,0,ar[2],ar[3])
                        }
                        img.src = `../../files/anexos/imagem/${obj.task.id}/${obj.perguntas[i].id_pergunta}.jpg`
                        addLine(img.height/10,10,head)
                    }    
                    plotImg(`../../files/anexos/imagem/${obj.task.id}/${obj.perguntas[i].id_pergunta}.jpg`,10,txt.y,ctx.width)


                }catch{
                    null
                }
/*
                const back = backFunc({'filename':`../../files/anexos/imagem/${obj.task.id}/${obj.perguntas[i].id_pergunta}.jpg`},1)
                back.then((resp)=>{
                    const imgExist = JSON.parse(resp)
                    if(imgExist){
                        console.log(obj.perguntas[i])
                    }
                })
*/
                doc.setFont(undefined, 'normal')
                doc.setFontSize(10)
                box(obj.perguntas[i].resposta,15,txt.y,doc.internal.pageSize.getWidth()-30,1)
                addLine(3,10,head)
        //                const quebras = (obj.perguntas[i].resposta.match(/\r?\n/g) || []).length
        //                addLine(quebras,i+1<obj.perguntas.length)
            }
        }

        function save(){
            savePDF(doc,`../files/relatorios/${obj.task.id}/`,`${obj.task.cliente}-${obj.task.cod}-rev_${obj.rev[obj.rev.length-1].revisao}.pdf`).then(()=>{
                main_data.cert_relatorio.func.fillRelat()
            })
        }

        const back = backFunc({'filename':`../../files/logos/${obj.id_cliente}.jpg`},1)
        back.then((resp)=>{
            img = JSON.parse(resp) ? `../files/logos/${obj.id_cliente}.jpg` : 'assets/icons/icon.png'
            head()
            setores()
            revisoes()
            questoes()
            save()
        })  

    }



    pageStart()

</script>