<template>
    <style>

    .panel{
        display: flex;
        flex-direction: row;
        min-height: 300px;
        width: 100%;
    }

    .panel fieldset{
        width: 100%;
        padding: 10px;
    }

    .middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .panel select{
        margin: 0;
        padding: 10px;
    }

    .line{
        width: 100%;
    }

    </style>
  
    <div class="panel">
        <fieldset>
            <legend>Usuários</legend>
            <select id="cmbUsr" size="13"></select>
        </fieldset>
        <div class="middle">
            <button id="btnAdd" class="btn-round"><span class="mdi mdi-arrow-right-bold"></span></button>
            <button id="btnSub" class="btn-round"><span class="mdi mdi-arrow-left-bold"></span></button>
        </div>
        <fieldset>
            <legend>Empresas</legend>
            <select id="cmbEmp"></select>
            <select id="cmbCliEmp" size="10"></select>
        </fieldset>
    </div>

</template>
<script>

    const pageData = main_data.cli_user.data
    const pageFunc = main_data.cli_user.func
    const pageScreen = document.querySelector('#card-cli_user')
    const usr = pageScreen.querySelector('#cmbUsr')
    const cli = pageScreen.querySelector('#cmbEmp')
    const usr_cli = pageScreen.querySelector('#cmbCliEmp')

    function pageStart(){
        pageFunc.fillEmp().then(()=>{
            pageFunc.fillCliUser()
        })
        pageFunc.fillUser()
    }

    pageFunc.fillEmp = ()=>{

        const params = new Object;
            params.field = 'razao_social'
            params.signal = 'LIKE'
            params.value = "'%%'"
        const myPromisse = queryDB(params,'CLI-0');
        return myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            for(let i=0; i<json.length;i++){
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].fantasia
                cli.appendChild(opt)
            }         
        })
    }

    pageFunc.fillUser = ()=>{      
        const params = new Object;
            params.field = 'nome'
            params.signal = 'LIKE'
            params.value = "'%%'"
        const myPromisse = queryDB(params,'USR-0');
        return myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            for(let i=0; i<json.length;i++){
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].nome
                usr.appendChild(opt)
            }         
        })        
    }

    pageFunc.fillCliUser = ()=>{      
        const params = new Object;
            params.id = cli.value
        const myPromisse = queryDB(params,'CLI-3');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            usr_cli.innerHTML = ''   
            for(let i=0; i<json.length;i++){
                const opt = document.createElement('option')
                opt.value = json[i].id_user
                opt.innerHTML = json[i].nome
                usr_cli.appendChild(opt)
            }         
        })        
    }

    pageFunc.addUser = (id_user)=>{      
        const params = new Object;
            params.id_user = id_user
            params.id_cliente = cli.value
        const myPromisse = queryDB(params,'CLI-2');
        myPromisse.then((resolve)=>{
            pageFunc.fillCliUser()
        })
    }

    pageScreen.querySelector('#btnAdd').addEventListener('click',()=>{
        if(usr.value.length){
            pageFunc.addUser(usr.value)        
        }
    })

    pageScreen.querySelector('#btnSub').addEventListener('click',()=>{
        if(usr_cli.value.length){
            pageFunc.addUser(usr_cli.value)        
        }
    })

    cli.addEventListener('change',()=>{
        pageFunc.fillCliUser()
    })

    pageStart()

</script>