<template>
    <style>
        .resp-busca{
            width: 100%;
            max-height: 400px;
            overflow-y: scroll;
        }

    </style>

    <fieldset class="fds-busca acervo">
        <legend>Filtro</legend>
        <div class="inline">
            <label for="edtBusca">por:</label>
            <select id="cmbBusca">
                <option value="id" signal="IN">Código</option>
                <option value="razao_social" signal="LIKE" selected>Nome</option>
                <option value="uf" signal="LIKE">UF</option>
                <option value="cidade" signal="LIKE">Cidade</option>
            </select>
            <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca')">
            <button id="btnBusca" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
            <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>            
        </div>

    </fieldset>
    <div class="resp-busca">
        <table id="tblClientes"></table>
    </div>
</template>
<script>

    const pageData = main_data.cli_busca.data
    const pageFunc = main_data.cli_busca.func
    const pageScreen = document.querySelector('#card-cli_busca')

    pageFunc.fillClientes = ()=>{      
        const tbl = pageScreen.querySelector('#tblClientes')
        tbl.innerHTML = ''
        const query = getVal('acervo')
        const params = new Object;
            params.field = query[0]
            params.signal = query[1]
            params.value = query[2]
        const myPromisse = queryDB(params,'CLI-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Razao Social,UF,Cidade')
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'razao_social,uf,cidade','Upp,Upp,Upp')
            }         
        });
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.fillClientes()
    })

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('cli_view.html','pop-up','Novo Cliente')
    })

    pageScreen.querySelector('#tblClientes').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        openHTML('cli_view.html','pop-up','Novo Cliente',data)
    })

</script>