<template>
    <style></style>

    <fieldset>
        <legend>Planos</legend>
        <div class="pgtos"></div>

    </fieldset>



</template>
<script>

    const pageData = main_data.cred_add.data
    const pageFunc = main_data.cred_add.func
    const pageScreen = document.querySelector('#card-cred_add')

    console.log(pageData)

    function pageStart(){
        pageFunc.fillPgto()
        pageFunc.fillPlanos()
    }

    pageFunc.fillPlanos= ()=>{      
        const params = new Object;
            params.nome = ''
        const myPromisse = queryDB(params,'PGT-2');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            console.log(json)
            for(let i=0; i<json.length;i++){
            }         
        })
    }

    pageFunc.fillPgto = ()=>{
        const params = new Object;
            params.id_norma = pageData.id_norma
            params.id_cliente = pageData.id_cliente
        const myPromisse = queryDB(params,'PGT-0');
        return myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            console.log(json)
            for(let i=0; i<json.length;i++){

            }         
        })
    }


    pageStart()

</script>