<template>
    <style>

        .wide{
            width: 100%;
        }

        #fds-aulas,#fds-resumo{
            display: none;
        }

        .lbl-tot,.lbl-totval{
            font-weight: bold;
        }

        .lbl-tot{
            text-align: right;
            font-weight: bold;
        }


        @media all and (max-width : 768px) {

            .fdata{
                justify-content: start;
            }

            .fds-busca #btnBusca{
                position: absolute;
                right: 10px;
                bottom: 10px;
            }

            .fdata label{
               order: 3;
            }

            .fdata input[type="checkbox"]{
               order: 4;
            }

            #edtIni,#edtFin{
                order: 0;
                width: calc(50% - 21px);
            }
        }


    </style>

    <fieldset class="fds-busca">
        <legend>Filtro</legend>
        <div class="inline">
            <label for="edtAluno">Aluno</label>
            <input type="text" id="edtAluno" onkeypress="return getEnter(event, 'btnBusca')">
            <button id="btnBusca" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
        </div>
        <div class="inline fdata">
            <label for="ckbAb">em aberto:</label>
            <input type="checkbox" id="ckbAb" checked>
            <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBusca')">
            <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBusca')">
        </div>
    </fieldset>  
    <fieldset id="fds-aulas">
        <legend>Aulas</legend>
        <table id="tblFechaAula"></table>
    </fieldset>

    <fieldset id="fds-resumo">
        <legend>Pgto em aberto</legend>
        <table id="tblEmAberto"></table>
    </fieldset>
</template>
<script>

    const pageData = main_data.fin_fecha_aula.data
    const pageFunc = main_data.fin_fecha_aula.func
    const pageScreen = document.querySelector('#card-fin_fecha_aula')

    pageFunc.pageStart = ()=>{
        pageScreen.querySelector('#edtIni').value = today.iniMonth()
        pageScreen.querySelector('#edtFin').value = today.finMonth()
    }

    pageFunc.fillAulas = ()=>{     
        const dtIn = pageScreen.querySelector('#edtIni').value+' 00:00:00'
        const dtOut = pageScreen.querySelector('#edtFin').value+' 23:59:59'
        if(dtIn.length > 0 && dtOut.length > 0){
            const fds1 = pageScreen.querySelector('#fds-aulas')
            fds1.style.display = 'none'
            const tbl1 = pageScreen.querySelector('#tblFechaAula')
            tbl1.innerHTML = ''
            const fds2 = pageScreen.querySelector('#fds-resumo')
            fds2.style.display = 'none'
            const tbl2 = pageScreen.querySelector('#tblEmAberto')
            tbl2.innerHTML = ''
            const params = new Object;
                params.aluno = pageScreen.querySelector('#edtAluno').value
                params.ini = dtIn
                params.fin = dtOut
                params.aberto = pageScreen.querySelector('#ckbAb').checked ? 1 : 0
            const myPromisse = queryDB(params,'FIN-0');
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)
                tbl1.head('Data,Hora,Aluno,Aula|mob-hide,P,Clube|mob-hide,Valor,PG')
                let tot = 0
                for(let i=0; i<json.length;i++){ 
                    fds1.style.display = 'block'                   
                    tbl1.plot(json[i],'DATA,HORARIO,aluno,aula|mob-hide,modo,clube|mob-hide,valor,pg','str,str,Upp,Upp,Upp,Upp,R$.,cha 0=NÂO 1=✔')
                    tot += parseFloat(json[i].valor)
                }
                tbl1.plot({'b':'','l':'Total','v':tot},'b,b,b,b,b,b,l|lbl-tot,v|lbl-totval','str,str,str,str,str,str,str,R$.')
                queryDB(params,'FIN-1')
                .then((resume)=>{
                    const json2 = JSON.parse(resume)
                    tbl2.head('Aluno,Valor|lbl-tot')
                    let tot = 0
                    for(let i=0; i<json2.length;i++){
                        fds2.style.display = 'block'
                        tbl2.plot(json2[i],'aluno|wide,valor|lbl-tot','Upp,R$.')
                        tot+=parseFloat(json2[i].valor)
                    }
                    tbl2.plot({'l':'Total','v':tot},'l|lbl-tot,v|lbl-totval','str,R$.')
                })
            })
        }else{
            alert('Favor preencher as datas corretamente.')
        }
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.fillAulas()
    })

    pageScreen.querySelector('#tblFechaAula').addEventListener('click',(e)=>{
      
        const r_index = e.target.parentNode.rowIndex
        const t_size = e.target.parentNode.parentNode.rows.length
        if(r_index >0 && r_index< t_size-1){   
            data = e.target.parentNode.data
            data.org = 'aula'
            openHTML('fin_baixa_aula.html','pop-up','Fechamento Financeiro',data)
        }

    })

    pageScreen.querySelector('#tblEmAberto').addEventListener('click',(e)=>{
        const r_index = e.target.parentNode.rowIndex
        const t_size = e.target.parentNode.parentNode.rows.length
        if(r_index >0 && r_index< t_size-1){   
            data = e.target.parentNode.data
            data.org = 'aluno'
            openHTML('fin_baixa_aula.html','pop-up','Fechamento Financeiro',data)
        }

    })


    pageFunc.pageStart()

</script>