<template>
    <style>



        .aula{
            display: flex;
            justify-content: space-between;
        }

        .row-aula > div{
            border-bottom: solid 1px #b5b4b4;
        }

        @media all and (max-width : 768px) {
            .row-aula > div > input{
                width: unset;
            }
        }

    </style>
  
    <fieldset>
        <legend>Aluno</legend>
        <table>
            <tr><th>Nome</th><th>Whatsapp</th><th>Email</th></tr>
            <tr><td id="lblNome"></td><td id="lblFone"></td><td id="lblEmail"></td></tr>
        </table>

    </fieldset>

    <fieldset>
        <legend>Aulas em Aberto</legend>

        <div class="row-aula"></div>
        <div class="line">
            <button id="btnMessage">Enviar Mensagem</button>
            <button id="btnAll">Baixar Tudo</button>
        </div>
    </fieldset>


</template>
<script>

    const pageData = main_data.fin_baixa_aula.data
    const pageFunc = main_data.fin_baixa_aula.func
    const pageScreen = document.querySelector('#card-fin_baixa_aula')
    pageData.aula_aberta = []
    pageFunc.pageStart = ()=>{

        pageScreen.querySelector('#lblNome').innerHTML = pageData.aluno.toUpperCase()
        pageScreen.querySelector('#lblFone').innerHTML = getFone(pageData.cel)
        pageScreen.querySelector('#lblEmail').innerHTML = pageData.email.toLowerCase()

        if(pageData.org=='aula'){
            const obj = new Object
                obj.data_hora = pageData.data_hora
                obj.data = pageData.DATA
                obj.hora = pageData.HORARIO
                obj.valor = parseFloat(pageData.valor)
                obj.pg = parseInt(pageData.pg)
                obj.modo = pageData.modo == 'P' ? 'PRESENÇA' : pageData.modo == 'R' ? 'REPOSIÇÃO' : 'FALTA'
            pageData.aula_aberta.push(obj)
        }else{
            const aulas = pageData.aulas.split(',')
            for(let i=0; i<aulas.length; i++){
                const hora_val = aulas[i].split('|')
                const obj = new Object
                    obj.data_hora = hora_val[0]
                    obj.data = hora_val[0].viewDate()
                    obj.hora = hora_val[0].time()
                    obj.valor = parseFloat(hora_val[1])
                    obj.pg = 0
                    obj.modo = hora_val[2] == 'P' ? 'PRESENÇA' : hora_val[2] == 'R' ? 'REPOSIÇÃO' : 'FALTA'
                    pageData.aula_aberta.push(obj)
            }
        }

        fillAula()
    }

    function fillAula(){
        const tbl = pageScreen.querySelector('.row-aula')
        tbl.innerHTML = ''
        for(let i=0; i<pageData.aula_aberta.length; i++){
            const row = document.createElement('div')
            row.className = 'aula inline'
            row.aula = i
            const dt = document.createElement('label')
            dt.className = 'row-title'
            dt.innerHTML = `${pageData.aula_aberta[i].modo} - ${pageData.aula_aberta[i].data} as ${pageData.aula_aberta[i].hora} valor R$${pageData.aula_aberta[i].valor.toFixed(2)}`
            row.appendChild(dt)

            const baixa = document.createElement('button')
            baixa.innerHTML = 'Baixar Aula'
            baixa.addEventListener('click',(e)=>{
                const index = parseInt(e.target.parentNode.aula)
                if(confirm(`Baixar a aula do dia ${pageData.aula_aberta[index].data} as ${pageData.aula_aberta[index].hora}?`)){
                    pageFunc.baixaAula(i)
                }
            })
            baixa.disabled = pageData.aula_aberta[i].pg
            row.appendChild(baixa)

            tbl.appendChild(row)
        }
    }

    pageFunc.baixaAula = (index,pg=1)=>{
        data_hora = pageData.aula_aberta[index].data_hora
        const params = new Object;
            params.id_aluno = pageData.id_aluno
            params.data_hora = data_hora
            params.pg = pg
        const myPromisse = queryDB(params,'FIN-2');
        return myPromisse.then((resolve)=>{
            pageData.aula_aberta[index].pg = pg
            main_data.fin_fecha_aula.func.fillAulas()
            fillAula()
        })
    }

    pageScreen.querySelector('#btnMessage').addEventListener('click',()=>{
        openHTML('fin_mensagem.html','pop-up','Enviar Mensagem',pageData,800)
    })

    pageScreen.querySelector('#btnAll').addEventListener('click',()=>{
        if(confirm('Deseja baixar todas as aulas listadas acima?')){
            for(let i=0; i<pageData.aula_aberta.length; i++){
                pageFunc.baixaAula(i).then(()=>{
                    closeModal('fin_baixa_aula')
                })
            }
        }
    })

    pageFunc.pageStart()

</script>