<template>
    <style>

        #btnWhats{
            font-size: 3em;
        }

    </style>

    <fieldset>
        <legend id="lgd-aluno"></legend>
        <div class="inline">
            <label for="edtTexto">Mensagem</label>
            <textarea id="edtTexto" rows="10"></textarea>
        </div>
        <div class="line">
            <button id="btnWhats" class="btn-round"><span class="mdi mdi-whatsapp"></span></button>
        </div>
    </fieldset>


</template>
<script>

    const pageData = main_data.fin_mensagem.data
    const pageFunc = main_data.fin_mensagem.func
    const pageScreen = document.querySelector('#card-fin_mensagem')

    pageFunc.pageStart = ()=>{
        pageScreen.querySelector('#lgd-aluno').innerHTML = pageData.aluno

        let txt = ''
        let total = 0
        let aula = ''
        for(let i=0; i<pageData.aula_aberta.length; i++){         
            total += parseFloat(pageData.aula_aberta[i].valor)
            aula += `${pageData.aula_aberta[i].modo} - ${pageData.aula_aberta[i].data} as ${pageData.aula_aberta[i].hora} R$${parseFloat(pageData.aula_aberta[i].valor).toFixed(2)}\n`
        }
        total = `R$${total.toFixed(2)}`

        getFile(`/../config/user/${localStorage.getItem('id_user')}/whatsapp.json`).then((response)=>{
            const mensagem = JSON.parse(response)
            txt = mensagem.text === undefined ? '' : mensagem.text
            txt = txt.replaceAll('#aluno',pageData.aluno)
            txt = txt.replaceAll('#aula',aula)
            txt = txt.replaceAll('#total',total)
            pageScreen.querySelector('#edtTexto').value = txt
        })
    }

    pageScreen.querySelector('#btnWhats').addEventListener('click',()=>{
        window.open(`https://wa.me/55${pageData.cel}?text=${pageScreen.querySelector('#edtTexto').value.replaceAll('\n','%0a')}`, '_blank').focus()
    })

// https://wa.me/whatsappphonenumber?text=urlencodedtext


    pageFunc.pageStart()
</script>