<template>
    <style>
        fieldset{
            text-align: center;
            padding-bottom: 20px;
        }


        .lineup{
            display: flex;
            justify-content: space-around;
        }

    </style>
        
        <fieldset>
            <legend>pergunta</legend>
            <textarea id="edtTarefa" rows="3" readonly disabled></textarea>
        </fieldset>


        <fieldset class="lineup">
            <legend id="lgdAtende">Atende</legend>
            <div>
                <label for="atd-sim">Sim</label>
                <input type="radio" name="atende" id="atd-sim" value="1">
            </div>
            <div>
                <label for="atd-nao">Não</label>
                <input type="radio" name="atende" id="atd-nao" value="2" checked>
            </div>
            <div>
                <label for="atd-naoaplica">Não se aplica</label>
                <input type="radio" name="atende" id="atd-naoaplica" value="3">
            </div>
        </fieldset>

        <fieldset>
            <legend>Validade</legend>
            <div class="inline">
                <div class="line-ckb">
                    <label for="ckbVal">Indefinida:</label>
                    <input id="ckbVal" type="checkbox" checked>
                </div> 
                <input id="edtVal" type="date" disabled>
            </div>
        </fieldset>

        <fieldset>
            <legend>Observações</legend>
            <textarea id="edtObs" rows="3"></textarea>
        </fieldset>

        <fieldset>
            <legend>Arquivos</legend>
            <table id="tblFiles"></table>
            <button id="btnAddFile"><span class="mdi mdi-plus"></span>Adicionar</button>
        </fieldset>

        <div class="line">
            <button id="btnReset">Resetar</button>
            <button id="btnSave">Salvar</button>
        </div>

</template>
<script>

    const pageData = main_data.lei_check.data
    const pageFunc = main_data.lei_check.func
    const pageScreen = document.querySelector('#card-lei_check')
    pageData.ext = '*.*'
    pageData.path = `tarefas/${pageData.id_cliente}/${pageData.id_tarefa}/`
    pageData.org = 'lei_check'

    function pageStart(){
        pageScreen.querySelector('#edtTarefa').value = pageData.tarefa
        if(pageData.expira != null){
            pageScreen.querySelector('#atd-sim').checked = Number(pageData.ok)
            pageScreen.querySelector('#atd-nao').checked = Number(pageData.ok) == 0 ? 1 : 0
            pageScreen.querySelector('#atd-naoaplica').checked = Number(pageData.nao_aplica)
            pageScreen.querySelector('#edtVal').disabled = pageData.expira.substr(0,4)=='0000'
            pageScreen.querySelector('#ckbVal').checked = pageData.expira.substr(0,4)=='0000'
            pageScreen.querySelector('#edtVal').value = pageData.expira.substr(0,10)
            pageScreen.querySelector('#edtObs').value = pageData.obs
            pageScreen.querySelector('#lgdAtende').innerHTML = pageData.aplicabilidade=='INFORMATIVO' ? 'Estou Ciente' : 'Atende'
        }
        pageFunc.fillAnexo()
    }

    function subMenu(e){
        const data = e.target.parentNode.data
        const tbl = []

        const open = new Object
        open.label = 'Abrir'
        open.link = ()=>{
            console.log(data)
            window.open(window.location.href+'files/'+pageData.path+data.filename, '_blank');
        }            
        tbl.push(open)

        const del = new Object
        del.label = 'Deletar'
        del.link = ()=>{
            if(confirm('Deseja remover definidamente este arquivo?')){
                delFile('/../files/'+pageData.path+data.filename).then(()=>{
                    pageFunc.fillAnexo()
                })
            }
        }            
        tbl.push(del)

        const download = new Object
        download.label = 'Download'
        download.link = ()=>{
            downloadFile(window.location.href+'files/'+pageData.path+data.filename,data.filename)
        }            
        tbl.push(download)

        menuContext(tbl,e)
    }

    pageFunc.fillAnexo = ()=>{
        listFiles('files/'+pageData.path,pageData.ext).then((txt)=>{
            const json = JSON.parse(txt)
            const tbl = pageScreen.querySelector('#tblFiles')
            tbl.innerHTML = ''
            for(let i=2; i<json.length; i++){
                tbl.plot({"filename" : json[i]},'filename','Upp')
            }
        })

    }

    pageFunc.setCheck = (reset=0)=>{
        const params = new Object;
            params.id_cliente = pageData.id_cliente
            params.id_tarefa = pageData.id_tarefa
            params.ok = pageScreen.querySelector('#atd-nao').checked ? 0 : 1
            params.nao_aplica = pageScreen.querySelector('#atd-naoaplica').checked ? 1 : 0
            params.obs = reset ? 'DELETAR' : pageScreen.querySelector('#edtObs').value.trim()
            params.validade =  pageScreen.querySelector('#ckbVal').checked  || params.nao_aplica ? '0000-00-00 00:00:00' : pageScreen.querySelector('#edtVal').value
        const myPromisse = queryDB(params,'ELE-1');
        myPromisse.then((resolve)=>{
            if(reset){
                setLog(`ELEVATE - id_cliente: ${pageData.id_cliente}, id_lei: ${pageData.id_tarefa} RESET`)
            }else{
                setLog(`ELEVATE - id_cliente: ${pageData.id_cliente}, id_lei: ${pageData.id_tarefa} OK: ${params.ok} VALIDADE: ${params.validade} OBS: ${params.obs}`)
            }

            try{
                main_data.lei_view_tarefas.func.fillCheckTarefas()
                main_data.nor_elevate.func.fillLeis()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }
            alert('Cadastrado efetuado!')
            closeModal('lei_check')
       
        })        
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setCheck()
    })

    pageScreen.querySelector('#btnReset').addEventListener('click',()=>{
        if(confirm('Deseja resetar este registro?')){
            pageFunc.setCheck(1)
        }
    })

    pageScreen.querySelector('#btnAddFile').addEventListener('click',()=>{
        openHTML('tool_upload_file.html','pop-up','Anexar Arquivos',pageData,600)
    })

    pageScreen.querySelector('#ckbVal').addEventListener('change',()=>{
        const chk = pageScreen.querySelector('#ckbVal').checked
        const date = pageScreen.querySelector('#edtVal')
        date.disabled = chk
        date.focus()
        if(pageScreen.querySelector('#edtVal').value == ''){
            pageScreen.querySelector('#edtVal').value = today.getFormatDate()
        }
    })

    pageScreen.querySelector('#tblFiles').addEventListener('click',(e)=>{        
        subMenu(e)
    })

    pageStart()

</script>