
<template>
    <style>
        .frm{
            padding: 10px;
        }

        .panel{
            display: flex;
            flex-direction: row;
            min-height: 300px;
            width: 100%;
        }

        .panel fieldset{
            width: 100%;
            padding: 10px;
        }

        .middle{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .panel select{
            margin: 0;
            padding: 10px;
        }

        @media all and (max-width : 768px) {
            .frm input, .frm select{
                width: 98% !important;
            }

            .panel{
                flex-wrap: wrap;
            }

            .middle{
                width: 100%;
                display: flex;
                flex-direction: row;
            }

            .middle button{
                transform: rotate(90deg);
            }

        }

    </style>
  
    <fieldset class="frm" >
        <legend>Lei</legend>

        <div class="inline">
            <label for="edtNome">Nome *</label>
            <input type="text" class="only-view" id="edtNome" onfocus="this.select();" maxlength="240" disabled>
        </div>

        <div class="inline">
            <label for="cmbEsfera">Esfera</label>
            <select id="cmbEsfera" class="only-view" disabled>
                <option value="FEDERAL">Federal</option>
                <option value="ESTADUAL">Estadual</option>
                <option value="MUNICIPAL">Municipal</option>
            </select>
            <label for="cmbAplica">Aplicabilidade</label>
            <select id="cmbAplica" class="only-view" disabled>
                <option value="APLICÁVEL">Aplicável</option>
                <option value="NÃO APLICÁVEL">Não Aplicável</option>
                <option value="CONHECIMENTO">Somente Conhecimento</option>
            </select>
        </div>

        <div class="inline">
            <label for="edtAssunto">Assunto</label>
            <input type="text" id="edtAssunto" maxlength="120" class="only-view" disabled>
        </div>

        <div class="inline">
            <label for="edtResumo">Resumo</label>
            <textarea id="edtResumo" maxlength="10240" rows="10" class="only-view" disabled></textarea>
        </div>

        <div class="inline">
            <label for="edtLink">Link</label>
            <input type="text" class="only-view" id="edtLink" onfocus="this.select();" maxlength="500" disabled>
        </div>

        <div class="line">
            <button id="btnEdit">Editar</button>
            <button id="btnDel">Deletar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>

        <div class="panel legis">
            <fieldset>
                <legend>Legislações</legend>
                <select id="cmbLegis" size="10"></select>
            </fieldset>
            <div class="middle">
                <button id="btnAdd" class="btn-round"><span class="mdi mdi-arrow-right-bold"></span></button>
                <button id="btnSub" class="btn-round"><span class="mdi mdi-arrow-left-bold"></span></button>
            </div>
            <fieldset>
                <legend id="lgnLei">Lei</legend>
                <select id="cmbLegisLei" size="10"></select>
            </fieldset>
        </div>


        <fieldset class="tarefas">
            <legend>Tarefas</legend>
            <table id="tbTarefas"></table>
            <div class="line">
                <button id="btnNovaTarefa"><span class="mdi mdi-plus-thick"></span>Adicionar</button>
            </div>
        </fieldset>

    </fieldset>

</template>
<script>
    
    const pageData = main_data.lei_view.data
    const pageFunc = main_data.lei_view.func
    const pageScreen = document.querySelector('#card-lei_view')
    const newLei = Object.keys(pageData).length == 0
    const legis = pageScreen.querySelector('#cmbLegis')
    const legis_lei = pageScreen.querySelector('#cmbLegisLei')

    function startPage(){
        if(newLei){
            openFields(1)
            pageScreen.querySelector('#btnEdit').disabled = 1
            pageScreen.querySelector('#btnDel').disabled = 1
            pageScreen.querySelector('.tarefas').style.display = 'none'
            pageScreen.querySelector('.legis').style.display = 'none'
        }else{
            pageData.id_lei = pageData.id
            pageScreen.querySelector('#lgnLei').innerHTML = pageData.nome
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#edtResumo').value = pageData.resumo
            pageScreen.querySelector('#cmbAplica').value = pageData.aplicabilidade
            pageScreen.querySelector('#edtLink').value = pageData.link
            pageScreen.querySelector('#edtAssunto').value = pageData.assunto
            pageScreen.querySelector('#cmbEsfera').value = pageData.esfera
            pageScreen.querySelector('#btnEdit').disabled = 0
            pageFunc.fillNorma()
            pageFunc.fillNormaLei()
            pageFunc.fillTarefas()
        }
    }

    pageFunc.setLei = (del=0)=>{
        const params = new Object;
            params.id = newLei ? 0 : pageData.id_lei
            params.nome = del ? "" : pageScreen.querySelector('#edtNome').value.trim()
            params.esfera = pageScreen.querySelector('#cmbEsfera').value
            params.assunto = Sanatize(pageScreen.querySelector('#edtAssunto').value.trim())
            params.resumo = pageScreen.querySelector('#edtResumo').value.trim()
            params.aplicabilidade = pageScreen.querySelector('#cmbAplica').value
            params.link = pageScreen.querySelector('#edtLink').value.trim()
          
        const myPromisse = queryDB(params,'NOR-3');
        myPromisse.then((resolve)=>{
            setLog(`Lei: ${newLei?'Cadastrada': del ? 'Deletada' : 'Editada'} ${ !newLei ? pageData.nome :''} -> ${params.nome}`)
            try{
                main_data.lei_busca.func.fillLeis()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }            
            alert('Cadastrado efetuado!')
            closeModal('lei_view')
        })
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    pageFunc.fillNorma = ()=>{      
        const params = new Object;
            params.nome = ''
        const myPromisse = queryDB(params,'NOR-0');
        return myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            for(let i=0; i<json.length;i++){
                const opt = document.createElement('option')
                opt.value = json[i].id
                opt.innerHTML = json[i].nome
                legis.appendChild(opt)
            }         
        })        
    }

    pageFunc.fillNormaLei = ()=>{      
        const params = new Object;
            params.id = pageData.id
            params.busca = 1
        const myPromisse = queryDB(params,'NOR-7');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            legis_lei.innerHTML = ''   
            for(let i=0; i<json.length;i++){             
                const opt = document.createElement('option')
                opt.value = json[i].id_norma
                opt.innerHTML = json[i].norma
                legis_lei.appendChild(opt)
            }         
        })        
    }

    pageFunc.fillTarefas = ()=>{      
        const params = new Object;
            params.id_lei = pageData.id
        const myPromisse = queryDB(params,'NOR-9')
        const tbl = pageScreen.querySelector('#tbTarefas')
        return myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            tbl.innerHTML = ''
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'pergunta','Upp')
            }         
        })        
    }

    pageFunc.addNormaLei = (id_norma)=>{      
        const params = new Object;
            params.id_norma = id_norma
            params.id_lei = pageData.id
        const myPromisse = queryDB(params,'NOR-6');
        myPromisse.then((resolve)=>{
            pageFunc.fillNormaLei()
        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setLei()
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if(confirm('Deseja remover definitivamente este ítem da norma?')){
            pageFunc.setLei(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    pageScreen.querySelector('#btnNovaTarefa').addEventListener('click',()=>{
        delete(pageData.tarefa)
        openHTML('lei_tarefa.html','pop-up','Nova Tarefa',pageData)
    })
    
    pageScreen.querySelector('#tbTarefas').addEventListener('click',(e)=>{
        pageData.tarefa = e.target.parentNode.data
        openHTML('lei_tarefa.html','pop-up','Lei - '+pageData.nome,pageData)
    })
    

    pageScreen.querySelector('#btnAdd').addEventListener('click',()=>{
        if(legis.value.length){
            pageFunc.addNormaLei(legis.value)        
        }
    })

    pageScreen.querySelector('#btnSub').addEventListener('click',()=>{
        if(legis_lei.value.length){
            pageFunc.addNormaLei(legis_lei.value)        
        }
    })

    startPage()

</script>