
<template>
    <style>
        .frm{
            padding: 10px;
        }

        @media all and (max-width : 768px) {
            .frm input, .frm select{
                width: 98% !important;
            }
        }

    </style>
  
    <fieldset class="frm" >
        <legend>Lei</legend>

        <div class="inline">
            <label for="edtNome">Nome *</label>
            <input type="text" class="only-view" id="edtNome" onfocus="this.select();" maxlength="240" disabled>
        </div>

        <div class="inline">
            <label for="cmbEsfera">Esfera</label>
            <select id="cmbEsfera" class="only-view" disabled>
                <option value="FEDERAL">Federal</option>
                <option value="ESTADUAL">Estadual</option>
                <option value="MUNICIPAL">Municipal</option>
            </select>
            <label for="cmbAplica">Aplicabilidade</label>
            <select id="cmbAplica" class="only-view" disabled>
                <option value="APLICÁVEL">Aplicável</option>
                <option value="NÃO APLICÁVEL">Não Aplicável</option>
                <option value="CONHECIMENTO">Somente Conhecimento</option>
            </select>
        </div>

        <div class="inline">
            <label for="edtAssunto">Assunto</label>
            <input type="text" id="edtAssunto" maxlength="120" class="only-view" disabled>
        </div>

        <div class="inline">
            <label for="edtResumo">Resumo</label>
            <textarea id="edtResumo" maxlength="10240" rows="10" class="only-view" disabled></textarea>
        </div>

        <div class="inline">
            <label for="edtLink">Link</label>
            <input type="text" class="only-view" id="edtLink" onfocus="this.select();" maxlength="500" disabled>
        </div>

        <fieldset class="tarefas">
            <legend>Tarefas</legend>
            <table id="tblLeis"></table>
            <div class="line">
                <button id="btnNovaLei"><span class="mdi mdi-plus-thick"></span>Adicionar</button>
                <button id="btnLote"><span class="mdi mdi-text-box-multiple"></span> Add em Lote</button>
            </div>
        </fieldset>

        <div class="line">
            <button id="btnEdit">Editar</button>
            <button id="btnDel">Deletar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>

</template>
<script>
    
    const pageData = main_data.lei_view.data
    const pageFunc = main_data.lei_view.func
    const pageScreen = document.querySelector('#card-lei_view')
    const newLei = Object.keys(pageData).length == 0

    function startPage(){
        if(newLei){
            openFields(1)
            pageScreen.querySelector('#btnEdit').disabled = 1
            pageScreen.querySelector('#btnDel').disabled = 1
            pageScreen.querySelector('.tarefas').style.display = 'none'

        }else{
            pageData.id_lei = pageData.id
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#edtResumo').value = pageData.resumo
            pageScreen.querySelector('#cmbAplica').value = pageData.aplicabilidade
            pageScreen.querySelector('#edtLink').value = pageData.link
            pageScreen.querySelector('#edtAssunto').value = pageData.assunto
            pageScreen.querySelector('#cmbEsfera').value = pageData.esfera

            pageScreen.querySelector('#btnEdit').disabled = 0
        }
    }

    pageFunc.setLei = (del=0)=>{
        const params = new Object;
            params.id = newLei ? 0 : pageData.id_lei
            params.nome = del ? "" : pageScreen.querySelector('#edtNome').value.trim()
            params.esfera = pageScreen.querySelector('#cmbEsfera').value
            params.assunto = Sanatize(pageScreen.querySelector('#edtAssunto').value.trim())
            params.resumo = pageScreen.querySelector('#edtResumo').value.trim()
            params.aplicabilidade = pageScreen.querySelector('#cmbAplica').value
            params.link = pageScreen.querySelector('#edtResumo').value.trim()
          
        const myPromisse = queryDB(params,'NOR-3');
        myPromisse.then((resolve)=>{
            setLog(`Lei: ${newLei?'Cadastrada': del ? 'Deletada' : 'Editada'} ${ !newLei ? pageData.nome :''} -> ${params.nome}`)
            try{
                main_data.lei_busca.func.fillLeis()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }            
            alert('Cadastrado efetuado!')
            closeModal('lei_view')
        })
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setLei()
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if(confirm('Deseja remover definitivamente este ítem da norma?')){
            pageFunc.setLei(1)
        }
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    startPage()

</script>