
<template>
    <style>

        .atende{
            background-color: rgb(218, 238, 218);
        }

        .atende-parcial{
            background-color: rgb(252, 255, 228);
        }

        .nao-atende{
            background-color: rgb(238, 222, 222);
        }

        .tasks{
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 5px;
        }

        .pergunta{
            display: flex;
            width: 100%;
            padding: 0 10px;
            max-height: 100px;
            overflow-y: scroll;
        }

        .pergunta:hover{
            cursor: pointer;
            background-color: aquamarine;
        }

    </style>
  
    <div class="tasks"></div>

</template>
<script>
    
    const pageData = main_data.lei_view_tarefas.data
    const pageFunc = main_data.lei_view_tarefas.func
    const pageScreen = document.querySelector('#card-lei_view_tarefas')

    function startPage(){
        pageFunc.fillCheckTarefas()
    }

    function addTask(data){
        const task = document.createElement('div')
        task.className = Number(data.ok) ? 'atende' : 'nao-atende'

        const quest = document.createElement('div')
        task.appendChild(quest)
        quest.className = 'pergunta'
        quest.innerHTML = data.tarefa

        task.addEventListener('click',()=>{
            openHTML('lei_check.html','pop-up','Tarefa - '+data.lei,data,600)
        })


        return task
    }

    pageFunc.fillCheckTarefas = ()=>{ 
        const params = new Object;
            params.id_cliente = pageData.id_cliente
            params.id_lei = pageData.id_lei
        const myPromisse = queryDB(params,'ELE-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const task = pageScreen.querySelector('.tasks')
            task.innerHTML = ''
            for(let i=0; i<json.length; i++){
                task.appendChild(addTask(json[i]))
            }
        })        
    }

    startPage()

</script>