<template>
    <style>

        .atende{
            background-color: rgb(218, 238, 218);
        }

        .sem-registro{
            background-color: rgb(252, 255, 228);
        }

        .nao-atende{
            background-color: rgb(238, 222, 222);
        }

        .lei{
            display: flex;
            flex-direction: column;
            padding: 10px;
            font-size: 1.1em;
        }

        .lei label{
            font-weight: 700;
        }


    </style>

    <div class="tab-bar">
        <div class="tab-item" id="tab-laws" onclick="pictab(this)"> Leis</div>
        <div class="tab-item" id="tab-graf" onclick="pictab(this)">Concluído</div>
    </div>
    <div class="tab-screen">
        <div id="laws" class="tab">
<!--            
            <div class="lei alert">
                <div class="inline">
                    <label for="nome-">Lei:</label>
                    <input type="text" id="nome-" value="Lei num 415 artigo 12" disabled>
                    <label for="">Esfera:</label>
                    <input type="text" class="esfera" style="max-width: 150px;" value="FEDERAL" disabled>
                    <label for="">Ramo:</label>
                    <input type="text" class="ramo" style="max-width: 250px;" value="Ramo 101" disabled>
                </div>
                <div class="inline">
                    <label for="">Assunto:</label>
                    <input type="text" class="assunto" value="Assunto Teste 101" disabled>
                    <label for="">Aplicabilidade:</label>
                    <input type="text" class="aplica" style="max-width: 150px;" value="APLICÁVEL" disabled>
                </div>
                <div class="inline">
                    <label for="">Ementa:</label>
                    <textarea class="ementa" rows="5" readonly disabled>teste 123\nblablablabla\nblablabla\nsksllks</textarea>
                </div>
                <div class="line">
                    <button><span class="mdi mdi-puzzle-plus"></span> Atende</button>
                </div>
                <p class="ementa"></p>
            </div>
-->            
        </div>
        <div id="graf" class="tab">
            graf
        </div>
    </div>

</template>
<script>

    const pageData = main_data.nor_elevate.data
    const pageFunc = main_data.nor_elevate.func
    const pageScreen = document.querySelector('#card-nor_elevate')


    function pageStart(){
        pageScreen.classList.add('fullscreen')
        pageScreen.querySelector('#tab-laws').click()

        pageFunc.fillCheckLeis()
    }

    function addLei(data){

        const lei = document.createElement('div')
        lei.data = data
        lei.className = 'lei'
        if(data.expira == null){
            lei.classList.add('sem-registro')
        }else if(Number(data.ok)){
            lei.classList.add('atende')
        }else{
            lei.classList.add('nao-atende')
        }

        const line_1 = document.createElement('div')
        lei.appendChild(line_1)
        line_1.className = 'inline'
        line_1.innerHTML = `
        <label for="nome-${data.id_cliente}-${data.id_lei}">Lei:</label>
        <input type="text" id="nome-${data.id_cliente}-${data.id_lei}" value="${data.nome}" disabled>
        <label for="esfera-${data.id_cliente}-${data.id_lei}">Esfera:</label>
        <input type="text" id="esfera-${data.id_cliente}-${data.id_lei}" style="max-width: 150px;" value="${data.esfera}" disabled>
        <label for="ramo-${data.id_cliente}-${data.id_lei}">Ramo:</label>
        <input type="text" class="ramo-${data.id_cliente}-${data.id_lei}" style="max-width: 250px;" value="${data.ramo}" disabled>
        `

        const line_2 = document.createElement('div')
        lei.appendChild(line_2)
        line_2.className = 'inline'
        line_2.innerHTML = `
        <label for="assunto-${data.id_cliente}-${data.id_lei}">Assunto:</label>
        <input type="text" id="assunto-${data.id_cliente}-${data.id_lei}" value="${data.assunto}" disabled>
        <label for="aplica-${data.id_cliente}-${data.id_lei}">Aplicabilidade:</label>
        <input type="text" id="aplica-${data.id_cliente}-${data.id_lei}" style="max-width: 150px;" value="${data.aplicabilidade}" disabled>
        `

        const line_3 = document.createElement('div')
        lei.appendChild(line_3)
        line_3.className = 'inline'
        line_3.innerHTML = `
        <label for="ementa-${data.id_cliente}-${data.id_lei}">Ementa:</label>
        <textarea id="ementa-${data.id_cliente}-${data.id_lei}" rows="5" readonly disabled>${data.ementa}</textarea>
        `

        const line_4 = document.createElement('div')
        lei.appendChild(line_4)
        line_4.className = 'line'

        const btn = document.createElement('button')
        line_4.appendChild(btn)
        btn.innerHTML = `<span class="mdi mdi-check-bold"></span> Atende`
        btn.addEventListener('click',()=>{
            openHTML('nor_check.html','pop-up',data.nome,data,600)
        })


        return lei

    }


    pageFunc.fillCheckLeis = ()=>{      
        const params = new Object;
            params.id_cliente = pageData.id_cli
            params.id_norma = pageData.id_nor
        const myPromisse = queryDB(params,'ELE-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve) 
            const laws = pageScreen.querySelector('#laws')
                laws.innerHTML = ''
            for(let i=0; i<json.length; i++){
                laws.appendChild(addLei(json[i]))

            }
        })        
    }

  



    pageStart()

</script>