
<template>
    <style>
        .frm{
            padding: 10px;
        }

        @media all and (max-width : 768px) {
            .frm input, .frm select{
                width: 98% !important;
            }
        }

    </style>
  
    <fieldset class="frm" >
        <legend>Legislação</legend>

        <div class="inline">
            <label for="edtNome">Nome *</label>
            <input type="text" class="only-view" id="edtNome" onfocus="this.select();" maxlength="120" disabled>
        </div>

        <div class="inline">
            <label for="edtSobre">Sobre</label>
            <textarea class="only-view" id="edtSobre" onfocus="this.select();" rows="5" maxlength="2048" disabled></textarea>
        </div>

        <div class="line">
            <button id="btnEdit">Editar</button>
            <button id="btnDel" class="only-view" disabled>Deletar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>



</template>
<script>
    
    const pageData = main_data.nor_view.data
    const pageFunc = main_data.nor_view.func
    const pageScreen = document.querySelector('#card-nor_view')
    const newNorma = Object.keys(pageData).length == 0

    function startPage(){
        if(newNorma){
            openFields(1)
            pageScreen.querySelector('#btnEdit').disabled = 1
        }else{     
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#edtSobre').value = pageData.sobre
        }
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    pageFunc.setNorma = (del=0)=>{
        const params = new Object;
            params.id = newNorma ? 0 : pageData.id
            params.nome = del ? "" : pageScreen.querySelector('#edtNome').value.trim()
            params.sobre = Sanatize(pageScreen.querySelector('#edtSobre').value.trim())

        const myPromisse = queryDB(params,'NOR-1');
        myPromisse.then((resolve)=>{
            setLog(`NORMA ${newNorma?'Cadastrada': del ? 'Deletada' : 'Editada'} ${ !newNorma ? pageData.nome :''} -> ${params.nome}`)
            try{
                main_data.nor_busca.func.fillnormas()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }
            alert('Cadastrado efetuado!')
            closeModal('nor_view')
        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setNorma()
        closeModal('esc_view')
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    startPage()

</script>