
<template>
    <style>
        .frm{
            padding: 10px;
        }

        @media all and (max-width : 768px) {
            .frm input, .frm select{
                width: 98% !important;
            }
        }

    </style>
  
    <fieldset class="frm" >
        <legend>Lei</legend>

        <div class="inline">
            <label for="edtNome">Nome *</label>
            <input type="text" class="only-view" id="edtNome" onfocus="this.select();" maxlength="30" disabled>
        </div>

        <div class="inline">
            <label for="cmbEsfera">Esfera</label>
            <select id="cmbEsfera" class="only-view" disabled>
                <option value="FEDERAL">Federal</option>
                <option value="ESTADUAL">Estadual</option>
                <option value="MUNICIPAL">Municipal</option>
            </select>

            <label for="cmbAplica">Aplicabilidade</label>
            <select id="cmbAplica" class="only-view" disabled>
                <option value="APLICÁVEL">Aplicável</option>
                <option value="NÃO APLICÁVEL">Não Aplicável</option>
                <option value="INFORMATIVO">Somente Informativo</option>
            </select>
        </div>

        <div class="inline">
            <label for="edtRamo">Ramo</label>
            <input type="text" id="edtRamo" maxlength="90" class="only-view" disabled>
        </div>

        <div class="inline">
            <label for="edtAssunto">Assunto</label>
            <input type="text" id="edtAssunto" maxlength="120" class="only-view" disabled>
        </div>

        <div class="inline">
            <label for="edtEmenta">Ementa</label>
            <textarea id="edtEmenta" maxlength="2048" rows="10" class="only-view" disabled></textarea>
        </div>

        <div class="line">
            <button id="btnEdit">Editar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>

</template>
<script>
    
    const pageData = main_data.nor_lei_view.data
    const pageFunc = main_data.nor_lei_view.func
    const pageScreen = document.querySelector('#card-nor_lei_view')
    const newLei = !pageData.hasOwnProperty('id_lei')

    function startPage(){
        if(newLei){
            openFields(1)
            pageScreen.querySelector('#btnEdit').disabled = 1
        }else{     
            pageScreen.querySelector('#edtNome').value = pageData.nome
//            pageScreen.querySelector('#edtSobre').value = pageData.texto
            pageScreen.querySelector('#btnEdit').disabled = 0
        }
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        const nome = pageScreen.querySelector('#edtNome').value.trim()
//        const texto = pageScreen.querySelector('#edtSobre').value.trim()
        pageData.setEscopo(nome,texto,pageData.id)
        closeModal('esc_view')
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    startPage()

</script>