<template>
    <style>

        .atende{
            background-color: rgb(218, 238, 218);
        }

        .sem-registro{
            background-color: rgb(252, 255, 228);
        }

        .nao-atende{
            background-color: rgb(238, 222, 222);
        }

        .lei{
            display: flex;
            flex-direction: column;
            padding: 10px;
            font-size: 1.1em;
        }

        .lei label{
            font-weight: 700;
        }

        #donutchart:nth-child(1){
            display: flex;
            justify-content: center;
        }


    </style>

    <div class="tab-bar">
        <div class="tab-item" id="tab-norma" onclick="pictab(this)">Norma</div>
        <div class="tab-item" id="tab-laws" onclick="pictab(this)">Ítens</div>
        <div class="tab-item" id="tab-graf" onclick="pictab(this)">Concluído</div>
    </div>
    <div class="tab-screen">
        <div id="norma" class="tab">
<!--            <iframe src="https://www.google.com/"></iframe>  -->
            <div class="inline">
                <label for="edtCliente">Cliente:</label>
                <input type="text" id="edtCliente" disabled>
            </div>
            <div class="inline">
                <label for="edtNorma">Norma:</label>
                <input type="text" id="edtNorma" disabled>
                <label for="edtEsfera">Esfera:</label>
                <input type="text" id="edtEsfera" style="max-width: 150px;" disabled>
            </div>
            <div class="inline">
                <label for="edtAssunto">Assunto:</label>
                <input type="text" id="edtAssunto" disabled>
                <label for="edtRamo">Ramo:</label>
                <input type="text" id="edtRamo" style="max-width: 300px;" disabled>
            </div>            
            <div class="inline">
                <label for="edtSobre">Sobre:</label>
                <textarea id="edtSobre" rows="5" disabled></textarea>
            </div>
            <div class="line">
                <button id="btnLei" disabled>Visualizar o Texto da Lei</button>
            </div>
        </div>
        <div id="laws" class="tab"></div>
        <div id="graf" class="tab">
            <div id="donutchart" style="width: 100%; height: 500px;"></div>
        </div>
    </div>

</template>
<script>

    const pageData = main_data.nor_elevate.data
    const pageFunc = main_data.nor_elevate.func
    const pageScreen = document.querySelector('#card-nor_elevate')


    function pageStart(){
        pageScreen.classList.add('fullscreen')
        pageScreen.querySelector('#tab-laws').click()
        pageScreen.querySelector('#edtCliente').value = pageData.norma.cliente
        pageScreen.querySelector('#edtNorma').value = pageData.norma.nome
        pageScreen.querySelector('#edtEsfera').value = pageData.norma.esfera
        pageScreen.querySelector('#edtAssunto').value = pageData.norma.assunto
        pageScreen.querySelector('#edtRamo').value = pageData.norma.ramo
        pageScreen.querySelector('#edtSobre').value = pageData.norma.sobre
        if(pageData.norma.link != null){
            pageScreen.querySelector('#btnLei').disabled = 0
            pageScreen.querySelector('#btnLei').addEventListener('click',()=>{
                window.open(pageData.norma.link, '_blank').focus()
            })
        }
        pageFunc.fillCheckLeis()        
    }

    function loadChart(){
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            var data = google.visualization.arrayToDataTable(pageData.graf);


            var options = {
            title: `${pageData.norma.cliente} - ${pageData.norma.nome}`,
            pieHole: 0.4,
            'width':window.innerWidth * 0.8,
            'height':window.innerHeight * 0.8
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    }

    function addLei(data){   
        const lei = document.createElement('div')
        lei.data = data
        lei.className = 'lei'
        if(Number(data.ok) || data.aplicabilidade == 'NÃO APLICÁVEL'){
            lei.classList.add('atende')
            addValue('Atende')
        }else if(data.expira == null){
            lei.classList.add('sem-registro')
            addValue('Sem Registro')
        }else{
            lei.classList.add('nao-atende')
            addValue('Não Atende')
        }

        function addValue(valor){
            const indice = pageData.graf.findIndex(subarray => subarray[0] === valor)
            if(indice<0){
                pageData.graf.push([valor,1])
            }else{
                pageData.graf[indice][1]++
            }
        }

        const line_1 = document.createElement('div')
        lei.appendChild(line_1)
        line_1.className = 'inline'
        line_1.innerHTML = `
        <label for="nome-${data.id_cliente}-${data.id_lei}">Ítem:</label>
        <input type="text" id="nome-${data.id_cliente}-${data.id_lei}" value="${data.nome}" disabled>
        <label for="aplica-${data.id_cliente}-${data.id_lei}">Aplicabilidade:</label>
        <input type="text" id="aplica-${data.id_cliente}-${data.id_lei}" style="max-width: 150px;" value="${data.aplicabilidade}" disabled>
        <label for="validade-${data.id_cliente}-${data.id_lei}">Expira em::</label>
        <input type="text" id="validade-${data.id_cliente}-${data.id_lei}" value="${data.expira==null || data.expira.substr(0,4)=='0000'  ?  'INDEFINIDO' : data.expira.viewDate() }" style="max-width: 120px;" disabled>
        `

        const line_2 = document.createElement('div')
        lei.appendChild(line_2)
        line_2.className = 'inline'
        line_2.innerHTML = `
        <label for="ementa-${data.id_cliente}-${data.id_lei}">Ementa:</label>
        <textarea id="ementa-${data.id_cliente}-${data.id_lei}" rows="5" readonly disabled>${data.ementa}</textarea>
        `

        const line_3 = document.createElement('div')
        lei.appendChild(line_3)
        line_3.className = 'line'

        const btn = document.createElement('button')
        line_3.appendChild(btn)
        btn.innerHTML = `<span class="mdi mdi-check-bold"></span> Atende`
        btn.disabled =  data.aplicabilidade == 'NÃO APLICÁVEL'
        btn.addEventListener('click',()=>{
            openHTML('nor_check.html','pop-up',data.nome,data,600)
        })


        return lei

    }


    pageFunc.fillCheckLeis = ()=>{ 
        const params = new Object;
            params.id_cliente = pageData.id_cliente
            params.id_norma = pageData.norma.id_norma
        const myPromisse = queryDB(params,'ELE-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve) 
            const laws = pageScreen.querySelector('#laws')
                laws.innerHTML = ''
                pageData.graf = [['1','2']]
            for(let i=0; i<json.length; i++){
                laws.appendChild(addLei(json[i]))
            }
            loadChart()
        })        
    }

    pageStart()

</script>