
<template>
    <style>
        .frm{
            padding: 10px;
        }

        @media all and (max-width : 768px) {
            .frm input, .frm select{
                width: 98% !important;
            }
        }

    </style>
  
    <fieldset class="frm" >
        <legend>Norma</legend>

        <div class="inline">
            <label for="edtNome">Nome *</label>
            <input type="text" class="only-view" id="edtNome" onfocus="this.select();" maxlength="120" disabled>
        </div>

        <div class="inline">
            <label for="edtSobre">Sobre</label>
            <textarea class="only-view" id="edtSobre" rows="5" maxlength="2048" disabled></textarea>
        </div>

        <div class="line">
            <button id="btnEdit">Editar</button>
            <button id="btnDel" class="only-view" disabled>Deletar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>
    <fieldset class="leis">
        <legend>Leis</legend>
        <table id="tblLeis"></table>
        <div class="line">
            <button id="btnNovaLei"><span class="mdi mdi-plus-thick"></span>Adicionar</button>
        </div>
    </fieldset>


</template>
<script>
    
    const pageData = main_data.nor_view.data
    const pageFunc = main_data.nor_view.func
    const pageScreen = document.querySelector('#card-nor_view')
    const newNorma = Object.keys(pageData).length == 0

    function startPage(){
        if(newNorma){
            openFields(1)
            pageScreen.querySelector('#btnEdit').disabled = 1
            pageScreen.querySelector('.leis').style.display = 'none'
        }else{     
            pageScreen.querySelector('#edtNome').value = pageData.nome
            pageScreen.querySelector('#edtSobre').value = pageData.sobre
            pageScreen.querySelector('#btnEdit').disabled = 0
            pageFunc.fillLeis(pageData.id)
        }
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    pageFunc.setNorma = (del=0)=>{
        const params = new Object;
            params.id = newNorma ? 0 : pageData.id
            params.nome = del ? "" : pageScreen.querySelector('#edtNome').value.trim()
            params.sobre = pageScreen.querySelector('#edtSobre').value.trim()
          
        const myPromisse = queryDB(params,'NOR-1');
        myPromisse.then((resolve)=>{
            setLog(`NORMA ${newNorma?'Cadastrada': del ? 'Deletada' : 'Editada'} ${ !newNorma ? pageData.nome :''} -> ${params.nome}`)
            try{
                main_data.nor_busca.func.fillnormas()
            }catch{
                console.error('Tela fechada pelo usuário!')
            }
            alert('Cadastrado efetuado!')
            closeModal('nor_view')
        })
    }

    pageFunc.fillLeis = (id_norma)=>{
        const params = new Object;
            params.field = 'id_norma'
            params.signal = '='
            params.value = id_norma
          
        const myPromisse = queryDB(params,'NOR-2');
        myPromisse.then((resolve)=>{            
            const json = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tblLeis')
            tbl.head('Lei,Esfera|min-field,Aplicabilidade|min-field')
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],'nome,esfera|min-field,aplicabilidade|min-field','Upp,Upp,Upp')
            }
        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setNorma()
        closeModal('esc_view')
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    pageScreen.querySelector('#btnNovaLei').addEventListener('click',()=>{
        pageData.new = 1
        openHTML('nor_lei_view.html','pop-up',pageData.nome,pageData)
    })

    pageScreen.querySelector('#tblLeis').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        e.preventDefault()
        data.new = 0
        openHTML('nor_lei_view.html','pop-up',pageData.nome,data)
    })

    startPage()

</script>