
<template>
    <style>
        .frm{
            padding: 10px;
        }

        @media all and (max-width : 768px) {
            .frm input, .frm select{
                width: 98% !important;
            }
        }

    </style>
  
    <fieldset class="frm" >
        <legend>Orçamento</legend>

        <div class="inline">
            <label for="cmbCli">Cliente</label>
            <select class="only-view" id="cmbCli" disabled></select>
        </div>

        <div class="inline">
            <label for="edtValor">Valor</label>
            <input type="text" class="only-view" id="edtValor" onfocus="this.select();" inputmode="decimal" onkeyup="valFloat(this)" value="0" disabled>
            <label for="edtData">Data</label>
            <input type="date" class="only-view" id="edtData" onfocus="this.select();" disabled>
            <label for="ckbCapa">Capa</label>
            <input type="checkbox" class="only-view" id="ckbCapa" checked disabled>
        </div>

        <div class="line">
            <button id="btnEdit">Editar</button>
            <button id="btnDel" class="only-view" disabled>Deletar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>

    <fieldset class="orc-itens">
        <legend>Produtos</legend>
        <table id="tblItens"></table>
        <div class="line">
            <button id="btnAddEscopo"> <span class="mdi mdi-plus-thick"></span> Adicionar</button>
        </div>
    </fieldset>

</template>
<script>
    
    const pageData = main_data.orc_view.data
    const pageFunc = main_data.orc_view.func
    const pageScreen = document.querySelector('#card-orc_view')
    const newOrc = Object.keys(pageData).length == 0

    function startPage(){
        pageFunc.fillCli()
        if(newOrc){
            openFields(1)
            pageScreen.querySelector('#btnEdit').disabled = 1
            pageScreen.querySelector('#btnDel').disabled = 1
            pageScreen.querySelector('#edtData').value = today.getFormatDate()
            pageScreen.querySelector('.orc-itens').style.display = 'none'
        }else{     
            pageScreen.querySelector('#edtValor').value = Number(pageData.valor).toFixed(2)
            pageScreen.querySelector('#edtData').value = pageData.data.substr(0,10)
            pageScreen.querySelector('#ckbCapa').checked = pageData.capa
            pageScreen.querySelector('#btnEdit').disabled = 0
            pageFunc.viewItem(pageData.id)
        }
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    pageFunc.fillCli = ()=>{
        const params = new Object;
            params.field = 'razao_social'
            params.signal = 'LIKE'
            params.value ="'%%'"
        const myPromisse = queryDB(params,'CLI-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const cmb = pageScreen.querySelector('#cmbCli')
            cmb.innerHTML = ''
            for(let i=0; i<json.length;i++){
                const opt = document.createElement('option')
                opt.innerHTML = json[i].razao_social
                opt.value = json[i].id
                if(!newOrc){
                    opt.selected = pageData.id_cli == json[i].id
                }
                cmb.appendChild(opt)
            }         
        })
    }

    pageFunc.setOrc = (del=0)=>{
        const params = new Object;
            params.id = newOrc ? 0 : pageData.id
            params.id_cli = del ? 0 : pageScreen.querySelector('#cmbCli').value
            params.capa = pageScreen.querySelector('#ckbCapa').checked
            params.data = pageScreen.querySelector('#edtData').value+' '+today.getFullTime()+':00'
            params.valor = pageScreen.querySelector('#edtValor').value
        const myPromisse = queryDB(params,'ORC-1');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            main_data.orc_busca.func.fillOrcamento()
            closeModal('orc_view')
        })
    }

    pageFunc.viewItem = (id_orc)=>{
        const params = new Object;
            params.id_orc = id_orc
        const myPromisse = queryDB(params,'ORC-3');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            const tbl = pageScreen.querySelector('#tblItens')
            tbl.innerHTML = ''
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Ítem,Valor')
            for(let i=0; i<json.length; i++){
                tbl.plot(json[i],'nome,valor','Upp,R$.')
            }

        })
    }

    pageFunc.addItem = (id_prod)=>{
        const params = new Object;
            params.id_orc = pageData.id
            params.id_prod = id_prod
        const myPromisse = queryDB(params,'ORC-2');
        myPromisse.then((resolve)=>{
            main_data.orc_busca.func.fillOrcamento()
            pageFunc.viewItem(pageData.id)
            const json = JSON.parse(resolve)[0]
            pageScreen.querySelector('#edtValor').value = (Number(pageScreen.querySelector('#edtValor').value) + (Number(json.valor) * Number(json.sign))).toFixed(2)
        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setOrc()
        closeModal('orc_view')
    })

    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    pageScreen.querySelector('#btnAddEscopo').addEventListener('click',()=>{
        pageData.callback = (prod)=>{
            pageFunc.addItem(prod.id)
        }
        openHTML('prod_busca.html','pop-up','Selecione o Cliente',pageData,600)

    })

    startPage()

</script>