<template>
    <style>
        .resp-busca{
            width: 100%;
            max-height: 400px;
            overflow-y: scroll;
        }

    </style>

    <fieldset class="fds-busca orc">
        <legend>Filtro</legend>

        <div class="inline">

            <label for="ckbData">Início/Final</label>
            <input type="date" id="edtIni">
            <input type="date" id="edtFin">

            <button id="btnBusca" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
            <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>            
        </div>

    </fieldset>
    <div class="resp-busca">
        <table id="tblOrcamentos"></table>
    </div>
</template>
<script>

    const pageData = main_data.orc_busca.data
    const pageFunc = main_data.orc_busca.func
    const pageScreen = document.querySelector('#card-orc_busca')

    function pageStart(){
        pageScreen.querySelector('#edtIni').value = today.iniMonth()
        pageScreen.querySelector('#edtFin').value = today.finMonth()
    }

    pageFunc.fillOrcamento = ()=>{      
        const tbl = pageScreen.querySelector('#tblOrcamentos')
        tbl.innerHTML = ''
        const params = new Object;
            params.dtIni = pageScreen.querySelector('#edtIni').value
            params.dtFin = pageScreen.querySelector('#edtFin').value
        const myPromisse = queryDB(params,'ORC-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            console.log(json)
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Data,Cliente,Valor')
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'data,cliente,valor','dat,Upp,R$.')
            }         
        });
    }

    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.fillOrcamento()
    })

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('orc_view.html','pop-up','Novo Orcamento')
    })

    pageScreen.querySelector('#tblOrcamentos').addEventListener('click',(e)=>{
        const data = e.target.parentNode.data
        openHTML('orc_view.html','pop-up',data.cliente,data)
    })

    pageStart()

</script>