
<template>
    <style>
        .frm{
            padding: 10px;
        }

        .quest{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media all and (max-width : 768px) {
            .frm input, .frm select{
                width: 98% !important;
            }
        }

    </style>
  
    <fieldset class="frm" >
        <legend>Pergunta</legend>

        <div class="inline">
            <label for="edtTitle">Título</label>
            <input type="text" class="only-view" id="edtTitle" maxlength="150" disabled>
        </div>

        <div class="inline">
            <label for="edtQuest">Pergunta</label>
            <textarea class="only-view" id="edtQuest" rows="10" maxlength="1500" disabled></textarea>
        </div>
        
        <div class="line">
            <label for="ckbRel">Sair no relatório</label>
            <input type="checkbox" class="only-view" id="ckbRel" checked disabled>
            <label for="ckbSub">Sub ítem da questão anterior</label>
            <input type="checkbox" class="only-view" id="ckbSub" disabled>
        </div>

        <div class="line">
            <button id="btnDel" class="only-view" disabled>Deletar</button>
            <button id="btnEdit">Editar</button>
            <button id="btnSave" class="only-view" disabled>Salvar</button>
        </div>
    </fieldset>

</template>
<script>
    
    const pageData = main_data.prod_view_quest.data
    const pageFunc = main_data.prod_view_quest.func
    const pageScreen = document.querySelector('#card-prod_view_quest')
    const newQuest = Object.keys(pageData).length == 1


    function startPage(){
        if(newQuest){
            openFields(1)
            pageScreen.querySelector('#btnDel').disabled = 1
            pageScreen.querySelector('#btnEdit').disabled = 1

        }else{ 
            pageScreen.querySelector('#edtTitle').value = pageData.titulo
            pageScreen.querySelector('#edtQuest').value = pageData.pergunta
            pageScreen.querySelector('#ckbRel').checked = Number(pageData.relatorio)
            pageScreen.querySelector('#ckbSub').checked = Number(pageData.sub_item)
            pageScreen.querySelector('#btnEdit').disabled = 0
        }
    }

    function openFields(open=1){
        const view = pageScreen.querySelectorAll('.only-view')
        for(let i=0; i<view.length; i++){
            view[i].disabled = !open
        }
    }

    pageFunc.setQuest = (del=0)=>{
        const params = new Object;
            params.id = newQuest ? 0 : pageData.id
            params.id_tarefa = pageData.id_tarefa
            params.titulo = pageScreen.querySelector('#edtTitle').value.trim()
            params.pergunta = del ? "" : pageScreen.querySelector('#edtQuest').value.trim()
            params.relatorio = pageScreen.querySelector('#ckbRel').checked ? 1 : 0
            params.sub_item = pageScreen.querySelector('#ckbSub').checked ? 1 : 0
            
        const myPromisse = queryDB(params,'TASK-3');
        myPromisse.then((resolve)=>{
            main_data.prod_view_task.func.viewQuest()
            setLog(`Questão ${newQuest?'Cadastrada': del ? 'Deletada' : 'Editada'} ${params.titulo} -> ${params.pergunta}`)
            alert('Cadastrado efetuado!')
            closeModal('prod_view_quest')
            
        })
    }

    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{
        pageFunc.setQuest()
    })

    pageScreen.querySelector('#btnDel').addEventListener('click',()=>{
        if(confirm('Deseja realmente deletar esta pergunta?')){
            pageFunc.setQuest(1)
        }
    })


    pageScreen.querySelector('#btnEdit').addEventListener('click',()=>{
        if(pageScreen.querySelector('#btnSave').disabled){
            if(confirm('Abrir registro para edição?')){
                openFields(1)
            }
        }else{
            openFields(0)
        }
    })

    startPage()

</script>