
<template>
    <style>
        .col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
  
    <fieldset>
        <legend>Selecione o arquivo</legend>
        <div class="col">
                <canvas id="cnvImg"></canvas>
                <input  name="up_file" id="up_file" type="file" accept="*.*">  
                <button id="btnUpload"><span class="mdi mdi-content-save-check"></span>Salvar</button>
        </div>
    </fieldset>


</template>
<script>

    const pageData = main_data.tool_upload_file.data
    const pageFunc = main_data.tool_upload_file.func
    const pageScreen = document.querySelector('#card-tool_upload_file')

    function pageStart(){
        if(pageData.ext != undefined){
            pageScreen.querySelector('#up_file').accept = pageData.ext
        }
    }

    pageScreen.querySelector('#btnUpload').addEventListener('click',()=>{

        if(pageData.hasOwnProperty('callback')){
            pageData.callback(pageScreen.querySelector('#up_file'))
        }
        closeModal('tool_upload_file')

/*        
        const up = uploadImage('up_file',`files/${pageData.path}`,pageScreen.querySelector('#up_file').files[0].name)
        up.then((resp)=>{
            setLog(`Arquivo Adicionado -> : ${pageData.nome}`)
            if(main_data.hasOwnProperty(pageData.org)){
                main_data[pageData.org].func.fillAnexo()             
            }
            closeModal('tool_upload_file')
        })
*/
    })

    pageScreen.querySelector('#up_file').addEventListener('change',()=>{        
        showFile()
    })

    pageStart()

</script>