<template>
    <style>
        .legenda{
            display: flex;
            flex-direction: column;
            padding-left: 20px;
        }

        .legenda > div{
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

    </style>

    <fieldset>
        <legend>Mensagem Padrão</legend>
        <div class="inline">
            <label for="edtMsg">Texto</label>
            <textarea id="edtMsg" rows="10"></textarea>
        </div>
        <div class="line">
            <button id="btnSave">Salvar</button>
        </div>
    </fieldset>

    <div class="legenda">      
        
        <p><span>#aluno</span> - Nome do Aluno</p>
        <p><span>#aula</span> - Lista de Aulas (Data, Hora e Valor)</p>
        <p><span>#total</span> - Valor total das aulas (R$XXX,XX)</p>
        <br>
        <p> *Usar os caracteres especiais acima onde eles serão substituídos na mensagem final pelos dados do aluno</p>

    </div>

</template>
<script>

    const pageData = main_data.tool_mensagem.data
    const pageFunc = main_data.tool_mensagem.func
    const pageScreen = document.querySelector('#card-tool_mensagem')

    pageFunc.pageStart = ()=>{
        getFile(`/../config/user/${localStorage.getItem('id_user')}/whatsapp.json`).then((txt)=>{
            console.log()
            const mensagem = JSON.parse(txt)
            pageScreen.querySelector('#edtMsg').value = mensagem.text === undefined ? '' : mensagem.text
        })
    }


    pageScreen.querySelector('#btnSave').addEventListener('click',()=>{       
        if(confirm('Salvar a mensagem acima como pedrão?')){
            const out =  new Object
            out.text = pageScreen.querySelector('#edtMsg').value.trim()
            saveFile(JSON.stringify(out),`/../config/user/${localStorage.getItem('id_user')}/whatsapp.json`)
            closeModal('tool_mensagem')
        }
    })

    pageFunc.pageStart()

</script>